@using Soenneker.Blazor.Extensions.EventCallback

@namespace Soenneker.Quark
@using Soenneker.Bradix
@using ButtonSizeType = Soenneker.Quark.ButtonSize
@inherits Soenneker.Quark.Element

@if (AsChild && AutoClose)
{
    <BradixDialogClose AsChild="true" AriaLabel="@((string?) null)" Disabled="@Disabled" OnClick="HandleBradixCloseClick">
        <CascadingValue Name="TriggerContext" Value="GetTriggerContext()" IsFixed="false">
            @ChildContent
        </CascadingValue>
    </BradixDialogClose>
}
else if (AsChild)
{
    <CascadingValue Name="TriggerContext" Value="GetTriggerContext()" IsFixed="false">
        @ChildContent
    </CascadingValue>
}
else if (AutoClose)
{
    <BradixDialogClose AsChild="true" AriaLabel="@((string?) null)" Disabled="@Disabled" OnClick="HandleBradixCloseClick">
        <Button Type="@ButtonType.Button"
                Variant="@Variant"
                ButtonSize="@ButtonSize"
                @attributes="BuildAttributes()">
            @ChildContent
        </Button>
    </BradixDialogClose>
}
else
{
    <Button Type="@ButtonType.Button"
            Variant="@Variant"
            ButtonSize="@ButtonSize"
            Disabled="@Disabled"
            OnClick="HandleNonAutoCloseClick"
            @attributes="BuildAttributes()">
        @ChildContent
    </Button>
}

@code {
    protected override void ApplyDefaultParameters()
    {
        base.ApplyDefaultParameters();
        DataSlot ??= "dialog-close";
    }

    [CascadingParameter(Name = nameof(ParentDialog))]
    public Dialog? ParentDialog { get; set; }

    [Parameter]
    public bool AsChild { get; set; }

    [Parameter]
    public bool AutoClose { get; set; } = true;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public ButtonVariant Variant { get; set; } = ButtonVariant.Outline;

    [Parameter]
    public ButtonSize ButtonSize { get; set; } = ButtonSizeType.Default;

    private async Task HandleBradixCloseClick(MouseEventArgs _)
    {
        await OnClose.InvokeIfHasDelegate();
    }

    private async Task HandleNonAutoCloseClick(MouseEventArgs _)
    {
        await OnClose.InvokeIfHasDelegate();
    }

    private TriggerContext GetTriggerContext()
    {
        return new TriggerContext
        {
            DataSlot = null,
            ParentDisabled = Disabled,
            OnClick = AutoClose ? null : () => OnClose.InvokeIfHasDelegate()
        };
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        base.ComputeRenderKeyCore(ref hc);
        hc.Add(AsChild);
        hc.Add(AutoClose);
        hc.Add(Disabled);
        hc.Add(Variant);
        hc.Add(ButtonSize);
    }
}