@namespace Soenneker.Quark
@inherits Soenneker.Quark.Element
@implements IBarIcon

<div @attributes="BuildAttributes()">
    <Icon Name="@Name"
          IconStyle="@IconStyle"
          Family="@Family"
          IconSize="@IconSize"
          Size="@Size"
          SpinReverse="@SpinReverse"
          Rotate="@Rotate"
          RotateByDegrees="@RotateByDegrees"
          Flip="@Flip"
          IconAnimation="@IconAnimation"/>
</div>

@code {
    /// <summary>
    /// Gets or sets the name of the icon.
    /// </summary>
    [Parameter]
    public string? Name { get; set; }

    /// <summary>
    /// Gets or sets the style of the icon.
    /// </summary>
    [Parameter]
    public IconStyle? IconStyle { get; set; }

    /// <summary>
    /// Gets or sets the family of the icon.
    /// </summary>
    [Parameter]
    public IconFamily? Family { get; set; }

    /// <summary>
    /// Gets or sets the size of the icon.
    /// </summary>
    [Parameter]
    public IconSize? IconSize { get; set; }

    /// <summary>
    /// Gets or sets the CSS size value for the icon.
    /// </summary>
    [Parameter]
    public CssValue<SizeBuilder>? Size { get; set; }

    /// <summary>
    /// Gets or sets whether the icon should spin in reverse.
    /// </summary>
    [Parameter]
    public bool SpinReverse { get; set; }

    /// <summary>
    /// Gets or sets the rotation of the icon.
    /// </summary>
    [Parameter]
    public IconRotate? Rotate { get; set; }

    /// <summary>
    /// Gets or sets the rotation angle in degrees.
    /// </summary>
    [Parameter]
    public int? RotateByDegrees { get; set; }

    /// <summary>
    /// Gets or sets the flip direction of the icon.
    /// </summary>
    [Parameter]
    public IconFlip? Flip { get; set; }

    /// <summary>
    /// Gets or sets the animation of the icon.
    /// </summary>
    [Parameter]
    public IconAnimation? IconAnimation { get; set; }

    protected override void BuildAttributesCore(Dictionary<string, object> attributes)
    {
        base.BuildAttributesCore(attributes);

        BuildClassAttribute(attributes, (ref cls) => AppendClass(ref cls, "q-bar-icon"));
        BuildStyleAttribute(attributes, (ref sty) =>
        {
            AppendStyleDecl(ref sty, "display: inline-flex");
            AppendStyleDecl(ref sty, "align-items: center");
            AppendStyleDecl(ref sty, "margin-right: 0.5rem");
        });
    }

    protected override void ComputeRenderKeyCore(ref HashCode hc)
    {
        hc.Add(Name);
        hc.Add(IconStyle);
        hc.Add(Family);
        hc.Add(IconSize);
        AddIf(ref hc, Size);
        hc.Add(SpinReverse);
        hc.Add(Rotate);
        hc.Add(RotateByDegrees);
        hc.Add(Flip);
        hc.Add(IconAnimation);
    }

}