@page "/badges"

<img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" />
<h1>Soenneker.Quark.Badges demo</h1>
<p>This page demonstrates some of the common usages for the badges library.</p>
<br />

<hr />

<div>
    <h2>Basic Badges</h2>
    <div class="mb-3">
        <Badge Color="@Color.Primary">Primary</Badge>
        <Badge Color="@Color.Secondary">Secondary</Badge>
        <Badge Color="@Color.Success">Success</Badge>
        <Badge Color="@Color.Danger">Danger</Badge>
        <Badge Color="@Color.Warning">Warning</Badge>
        <Badge Color="@Color.Info">Info</Badge>
        <Badge Color="@Color.Light">Light</Badge>
        <Badge Color="@Color.Dark">Dark</Badge>
    </div>
</div>

<hr />

<div>
    <h2>Badge Types</h2>
    <div class="mb-3">
        <Badge Color="@Color.Primary" Type="@BadgeType.Badge">Regular Badge</Badge>
        <Badge Color="@Color.Success" Type="@BadgeType.Pill">Pill Badge</Badge>
        <Badge Color="@Color.Danger" Type="@BadgeType.Dot">Dot Badge</Badge>
    </div>
</div>

<hr />

<hr />

<div>
    <h2>Badges in Context</h2>
    <div class="mb-3">
        <h4>Notifications <Badge Color="@Color.Danger">4</Badge></h4>
        <h5>Messages <Badge Color="@Color.Info">12</Badge></h5>
        <h6>Updates <Badge Color="@Color.Success">New</Badge></h6>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">
            Profile <Badge Color="@Color.Light">9</Badge>
        </button>
        <button class="btn btn-success">
            Inbox <Badge Color="@Color.Dark">3</Badge>
        </button>
    </div>
</div>

<hr />

<div>
    <h2>Rounded Badges</h2>
    <div class="mb-3">
        <Badge Color="@Color.Primary" Rounded="true">Rounded Primary</Badge>
        <Badge Color="@Color.Success" Rounded="true">Rounded Success</Badge>
        <Badge Color="@Color.Warning" Rounded="true">Rounded Warning</Badge>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
    }
}
