@inherits LayoutComponentBase
@inject Soenneker.Quark.Suite.Demo.Services.ThemeService ThemeService
@implements IDisposable

<PageTitle>Quark Suite Demo</PageTitle>

<CascadingValue Value="ThemeService">
<SidebarProvider Open="_sidebarOpen" OpenChanged="OnSidebarOpenChanged">
    <Sidebar Collapsible="SidebarCollapsible.Icon">
        <SidebarHeader>
            <a href="/" class="flex min-w-0 items-center gap-2 rounded-md px-2 py-1.5 hover:bg-sidebar-accent">
                <img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" alt="Quark Suite" class="size-8 shrink-0 rounded-lg" />
                <span class="truncate group-data-[collapsible=icon]:hidden">Quark Suite</span>
            </a>
            <p class="px-2 text-xs text-muted-foreground group-data-[collapsible=icon]:hidden">Docs-style demo shell</p>
        </SidebarHeader>

        <SidebarContent>
            @if (_sidebarOpen)
            {
            <SidebarGroup>
                <SidebarGroupLabel>Typography</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="typography/headings" class="@NavLinkClass" ActiveClass="@ActiveClass">Headings (H1-H6)</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/texts" class="@NavLinkClass" ActiveClass="@ActiveClass">Text & Paragraph</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/blockquotes" class="@NavLinkClass" ActiveClass="@ActiveClass">Blockquotes</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/small-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Small</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/strong-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Strong</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/span-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Span</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/codes" class="@NavLinkClass" ActiveClass="@ActiveClass">Code & Kbd</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/icons" class="@NavLinkClass" ActiveClass="@ActiveClass">Icons</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/anchors" class="@NavLinkClass" ActiveClass="@ActiveClass">Anchors (Links)</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/badges" class="@NavLinkClass" ActiveClass="@ActiveClass">Badges & Pills</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/labels" class="@NavLinkClass" ActiveClass="@ActiveClass">Labels</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/typography" class="@NavLinkClass" ActiveClass="@ActiveClass">Typography Utilities</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="typography/textstyle-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Text Styles</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Surfaces</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="surfaces/cards" class="@NavLinkClass" ActiveClass="@ActiveClass">Cards</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="surfaces/alerts" class="@NavLinkClass" ActiveClass="@ActiveClass">Alerts</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="surfaces/accordions" class="@NavLinkClass" ActiveClass="@ActiveClass">Accordions</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="surfaces/buttons" class="@NavLinkClass" ActiveClass="@ActiveClass">Buttons</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="surfaces/button-groups" class="@NavLinkClass" ActiveClass="@ActiveClass">Button Groups</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="surfaces/skeletons" class="@NavLinkClass" ActiveClass="@ActiveClass">Skeletons</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="surfaces/empties" class="@NavLinkClass" ActiveClass="@ActiveClass">Empties</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="surfaces/items" class="@NavLinkClass" ActiveClass="@ActiveClass">Items</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Forms & Inputs</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="forms/input-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Input</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/input-groups" class="@NavLinkClass" ActiveClass="@ActiveClass">Input Groups</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/textareas" class="@NavLinkClass" ActiveClass="@ActiveClass">TextArea</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/textedits" class="@NavLinkClass" ActiveClass="@ActiveClass">Text Edits</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/numericedit-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Numeric Edit</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/dateedits" class="@NavLinkClass" ActiveClass="@ActiveClass">Date Edits</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/datepickers" class="@NavLinkClass" ActiveClass="@ActiveClass">Date Pickers</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/memoedits" class="@NavLinkClass" ActiveClass="@ActiveClass">Memo Edits</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/code-editor" class="@NavLinkClass" ActiveClass="@ActiveClass">Code Editor</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/selects" class="@NavLinkClass" ActiveClass="@ActiveClass">Selects</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/native-selects" class="@NavLinkClass" ActiveClass="@ActiveClass">Native Select</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/sliders" class="@NavLinkClass" ActiveClass="@ActiveClass">Sliders</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/checks" class="@NavLinkClass" ActiveClass="@ActiveClass">Checkboxes</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/radios" class="@NavLinkClass" ActiveClass="@ActiveClass">Radios</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/switches" class="@NavLinkClass" ActiveClass="@ActiveClass">Switches</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/toggles" class="@NavLinkClass" ActiveClass="@ActiveClass">Toggles</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/fields" class="@NavLinkClass" ActiveClass="@ActiveClass">Fields</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/fieldsets-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Fieldsets</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="forms/validation-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Validation</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Layout & Flow</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="layout/containers" class="@NavLinkClass" ActiveClass="@ActiveClass">Containers</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="layout/columns" class="@NavLinkClass" ActiveClass="@ActiveClass">Rows & Columns</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="layout/divs" class="@NavLinkClass" ActiveClass="@ActiveClass">Divs</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="layout/position-offset" class="@NavLinkClass" ActiveClass="@ActiveClass">Position Offset</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Overlays</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="overlays/modals" class="@NavLinkClass" ActiveClass="@ActiveClass">Modals</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="overlays/alert-dialogs" class="@NavLinkClass" ActiveClass="@ActiveClass">Alert Dialogs</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="overlays/sheets" class="@NavLinkClass" ActiveClass="@ActiveClass">Sheets</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="overlays/collapses" class="@NavLinkClass" ActiveClass="@ActiveClass">Collapses</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="overlays/dropdowns" class="@NavLinkClass" ActiveClass="@ActiveClass">Dropdowns</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Navigation</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="navigation/sidebar" class="@NavLinkClass" ActiveClass="@ActiveClass">Sidebar</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="navigation/navigation-menu" class="@NavLinkClass" ActiveClass="@ActiveClass">Navigation Menu</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="navigation/breadcrumbs" class="@NavLinkClass" ActiveClass="@ActiveClass">Breadcrumbs</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="navigation/paginations" class="@NavLinkClass" ActiveClass="@ActiveClass">Paginations</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="navigation/tabs" class="@NavLinkClass" ActiveClass="@ActiveClass">Tabs</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="navigation/stepsdemo" class="@NavLinkClass" ActiveClass="@ActiveClass">Steps</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Media & Content</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="media/images" class="@NavLinkClass" ActiveClass="@ActiveClass">Images</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="media/videos" class="@NavLinkClass" ActiveClass="@ActiveClass">Videos & Audio</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="media/iframes" class="@NavLinkClass" ActiveClass="@ActiveClass">IFrames</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="media/figures" class="@NavLinkClass" ActiveClass="@ActiveClass">Figures</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Data Display</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="data/tables/basic" class="@NavLinkClass" ActiveClass="@ActiveClass">Tables - Basic</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/tables/modern-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Tables - Modern</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/tables/loading-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Tables - Loading</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/tables/paged-result-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Tables - Paged</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/tables/bar-layout-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Tables - Bar Layout</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/tables/topbar" class="@NavLinkClass" ActiveClass="@ActiveClass">Tables - TopBar</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/tables/request-data-options-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Tables - Request Options</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/orderedlists" class="@NavLinkClass" ActiveClass="@ActiveClass">Ordered Lists</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/unorderedlists" class="@NavLinkClass" ActiveClass="@ActiveClass">Unordered Lists</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="data/treeview" class="@NavLinkClass" ActiveClass="@ActiveClass">TreeView</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Feedback</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="surfaces/alerts" class="@NavLinkClass" ActiveClass="@ActiveClass">Alerts</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="feedback/snackbars" class="@NavLinkClass" ActiveClass="@ActiveClass">Snackbars</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="feedback/spinners" class="@NavLinkClass" ActiveClass="@ActiveClass">Spinners</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="feedback/progresses" class="@NavLinkClass" ActiveClass="@ActiveClass">Progress Bars</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="feedback/scores" class="@NavLinkClass" ActiveClass="@ActiveClass">Scores</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>

            <SidebarGroup>
                <SidebarGroupLabel>Utilities & Demos</SidebarGroupLabel>
                <SidebarGroupContent>
                    <SidebarMenu>
                        <SidebarMenuItem><NavLink href="utils/themes" class="@NavLinkClass" ActiveClass="@ActiveClass">Themes</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="utils/semantic-html" class="@NavLinkClass" ActiveClass="@ActiveClass">Semantic HTML</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="utils/br-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Br (Line Break)</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="utils/hr-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Hr (Horizontal Rule)</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="utils/section-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Section</NavLink></SidebarMenuItem>
                        <SidebarMenuItem><NavLink href="utils/details-demo" class="@NavLinkClass" ActiveClass="@ActiveClass">Details & Summary</NavLink></SidebarMenuItem>
                    </SidebarMenu>
                </SidebarGroupContent>
            </SidebarGroup>
            }
        </SidebarContent>
        <SidebarRail />
    </Sidebar>

    <SidebarInset>
        <header class="sticky top-0 z-10 flex h-16 shrink-0 items-center gap-4 border-b bg-background px-4 focus:outline-none">
            <SidebarTrigger />
            <a href="/" class="flex min-w-0 items-center gap-2 rounded-md px-2 py-1.5 hover:bg-accent">
                <img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" alt="Quark Suite" class="size-6 shrink-0 rounded-sm" />
                <span class="text-sm font-medium">Docs</span>
            </a>
            <nav class="hidden md:flex items-center gap-1">
                <NavLink href="" Match="NavLinkMatch.All" class="@TopNavLinkClass" ActiveClass="@TopActiveClass">Introduction</NavLink>
                <NavLink href="components" class="@TopNavLinkClass" ActiveClass="@TopActiveClass">Components</NavLink>
                <NavLink href="surfaces/cards" class="@TopNavLinkClass" ActiveClass="@TopActiveClass">Blocks</NavLink>
                <NavLink href="data/tables/basic" class="@TopNavLinkClass" ActiveClass="@TopActiveClass">Charts</NavLink>
            </nav>
            <div class="ml-auto flex items-center gap-2">
                <Input Type="search" Placeholder="Search documentation..." Class="hidden md:flex w-64" />
                <button type="button" @onclick="ToggleTheme" class="rounded-md p-2 hover:bg-accent" aria-label="Toggle dark mode">
                    @if (ThemeService.IsDark)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M12 3a6 6 0 1 0 9 9 9 9 0 1 1-9-9z"/></svg>
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>
                    }
                </button>
            </div>
        </header>
        <div class="flex-1 overflow-auto p-6 md:p-8">
            <div class="w-full max-w-7xl mx-auto">
                @Body
            </div>
        </div>
    </SidebarInset>
</SidebarProvider>
</CascadingValue>

@code {
    private bool _sidebarOpen = true;

    private const string TopNavLinkClass = "rounded-md px-3 py-2 text-sm text-muted-foreground transition-colors hover:bg-accent hover:text-foreground";

    private const string TopActiveClass = "bg-accent text-foreground font-medium";

    private const string NavLinkClass =
        "peer/menu-button flex w-full items-center gap-2 overflow-hidden rounded-md p-2 text-left text-sm outline-hidden ring-sidebar-ring transition-[width,height,padding] hover:bg-sidebar-accent hover:text-sidebar-accent-foreground focus-visible:ring-2 active:bg-sidebar-accent active:text-sidebar-accent-foreground disabled:pointer-events-none disabled:opacity-50 data-[active=true]:bg-sidebar-accent data-[active=true]:font-medium data-[active=true]:text-sidebar-accent-foreground group-data-[collapsible=icon]:size-8! group-data-[collapsible=icon]:p-2! [&>span:last-child]:truncate [&>svg]:size-4 [&>svg]:shrink-0 h-8";

    private const string ActiveClass = "bg-sidebar-accent text-sidebar-accent-foreground font-medium";

    protected override void OnInitialized()
    {
        ThemeService.ThemeChanged += OnThemeChanged;
    }

    private Task OnSidebarOpenChanged(bool open)
    {
        _sidebarOpen = open;
        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await ThemeService.InitializeAsync();
        StateHasChanged();
    }

    private async Task ToggleTheme()
    {
        await ThemeService.ToggleAsync();
    }

    private void OnThemeChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ThemeService.ThemeChanged -= OnThemeChanged;
    }
}
