@page "/comboboxes"
@using System.Linq

<PageTitle>Combobox - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Paragraph TextColor="TextColor.MutedForeground" TextSize="TextSize.Lg">
            Autocomplete input with a list of suggestions.
        </Paragraph>

        <DemoSection Code="@BasicCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm">
                <Combobox Value="@_heroFramework"
                          ValueChanged="OnHeroFrameworkChanged"
                          Search="@_heroSearch"
                          SearchChanged="OnHeroSearchChanged"
                          Open="@_heroOpen"
                          OpenChanged="OnHeroOpenChanged">
                    <ComboboxInput Placeholder="Select a framework" />
                    <ComboboxContent>
                        <ComboboxEmpty>No items found.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var framework in FilterFrameworks(_heroSearch))
                            {
                                <ComboboxItem Value="@framework">@framework</ComboboxItem>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="Basic"
                     Description="A simple combobox with a list of frameworks."
                     Code="@BasicCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm">
                <Combobox Value="@_basicFramework"
                          ValueChanged="OnBasicFrameworkChanged"
                          Search="@_basicSearch"
                          SearchChanged="OnBasicSearchChanged"
                          Open="@_basicOpen"
                          OpenChanged="OnBasicOpenChanged">
                    <ComboboxInput Placeholder="Select a framework" />
                    <ComboboxContent>
                        <ComboboxEmpty>No items found.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var framework in FilterFrameworks(_basicSearch))
                            {
                                <ComboboxItem Value="@framework">@framework</ComboboxItem>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="Multiple"
                     Description="A combobox with multiple selection using multiple and ComboboxChips."
                     Code="@MultipleCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsLg">
                <Combobox Multiple="true"
                          Values="@_multipleFrameworks"
                          ValueChangedMultiple="OnMultipleFrameworksChanged"
                          Search="@_multipleSearch"
                          SearchChanged="OnMultipleSearchChanged"
                          Open="@_multipleOpen"
                          OpenChanged="OnMultipleOpenChanged">
                    <ComboboxChips>
                        @foreach (var framework in _multipleFrameworks)
                        {
                            <ComboboxChip Value="@framework">@framework</ComboboxChip>
                        }
                        <ComboboxChipsInput Placeholder="Add framework" />
                    </ComboboxChips>
                    <ComboboxContent>
                        <ComboboxEmpty>No items found.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var framework in FilterFrameworks(_multipleSearch))
                            {
                                <ComboboxItem Value="@framework">@framework</ComboboxItem>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="Clear Button"
                     Description="Use the showClear prop to show a clear button."
                     Code="@ClearButtonCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm">
                <Combobox Value="@_clearFramework"
                          ValueChanged="OnClearFrameworkChanged"
                          Search="@_clearSearch"
                          SearchChanged="OnClearSearchChanged"
                          Open="@_clearOpen"
                          OpenChanged="OnClearOpenChanged"
                          ShowClear="true">
                    <ComboboxInput Placeholder="Select a framework" />
                    <ComboboxContent>
                        <ComboboxEmpty>No items found.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var framework in FilterFrameworks(_clearSearch))
                            {
                                <ComboboxItem Value="@framework">@framework</ComboboxItem>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="Groups"
                     Description="Use ComboboxGroup and ComboboxSeparator to group items."
                     Code="@GroupsCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm">
                <Combobox Value="@_timezone"
                          ValueChanged="OnTimezoneChanged"
                          Search="@_timezoneSearch"
                          SearchChanged="OnTimezoneSearchChanged"
                          Open="@_timezoneOpen"
                          OpenChanged="OnTimezoneOpenChanged">
                    <ComboboxInput Placeholder="Select a timezone" />
                    <ComboboxContent>
                        <ComboboxEmpty>No timezones found.</ComboboxEmpty>
                        <ComboboxList>
                            @for (var groupIndex = 0; groupIndex < FilterTimezoneGroups(_timezoneSearch).Count; groupIndex++)
                            {
                                var group = FilterTimezoneGroups(_timezoneSearch)[groupIndex];
                                <ComboboxGroup>
                                    <ComboboxLabel>@group.Label</ComboboxLabel>
                                    @foreach (var item in group.Items)
                                    {
                                        <ComboboxItem Value="@item">@item</ComboboxItem>
                                    }
                                </ComboboxGroup>

                                @if (groupIndex < FilterTimezoneGroups(_timezoneSearch).Count - 1)
                                {
                                    <ComboboxSeparator />
                                }
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="Custom Items"
                     Description="You can render a custom component inside ComboboxItem."
                     Code="@CustomItemsCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm">
                <Combobox Value="@_customCountry"
                          ValueChanged="OnCustomCountryChanged"
                          Search="@_customSearch"
                          SearchChanged="OnCustomSearchChanged"
                          Open="@_customOpen"
                          OpenChanged="OnCustomOpenChanged">
                    <ComboboxInput Placeholder="Search countries..." />
                    <ComboboxContent>
                        <ComboboxEmpty>No items found.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var country in CountryOptions.Where(option => Matches(option.Name, _customSearch) || Matches(option.Description, _customSearch)))
                            {
                                <ComboboxItem Value="@country.Name">
                                    <Div Display="Display.Flex" FlexDirection="FlexDirection.Col">
                                        <Span FontWeight="FontWeight.Medium">@country.Name</Span>
                                        <Paragraph TextSize="TextSize.Xs" TextColor="TextColor.MutedForeground" Margin="Margin.Is0">@country.Description</Paragraph>
                                    </Div>
                                </ComboboxItem>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="Invalid"
                     Description="Use the aria-invalid prop to make the combobox invalid."
                     Code="@InvalidCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm" Space="Space.Y.Is2">
                <Combobox Value="@_invalidFramework"
                          ValueChanged="OnInvalidFrameworkChanged"
                          Search="@_invalidSearch"
                          SearchChanged="OnInvalidSearchChanged"
                          Open="@_invalidOpen"
                          OpenChanged="OnInvalidOpenChanged">
                    <ComboboxInput Placeholder="Select a framework" aria-invalid="true" />
                    <ComboboxContent>
                        <ComboboxEmpty>No items found.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var framework in FilterFrameworks(_invalidSearch))
                            {
                                <ComboboxItem Value="@framework">@framework</ComboboxItem>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
                <Paragraph TextSize="TextSize.Sm" TextColor="TextColor.Destructive" Margin="Margin.Is0">
                    Select a framework before continuing.
                </Paragraph>
            </Div>
        </DemoSection>

        <DemoSection Title="Disabled"
                     Description="Use the disabled prop to disable the combobox."
                     Code="@DisabledCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm">
                <Combobox Value="Nuxt.js" Disabled="true">
                    <ComboboxInput Placeholder="Select a framework" />
                    <ComboboxContent>
                        <ComboboxItem Value="Nuxt.js">Nuxt.js</ComboboxItem>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="Auto Highlight"
                     Description="Use the autoHighlight prop to automatically highlight the first item on filter."
                     Code="@AutoHighlightCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm">
                <Combobox Value="@_autoFramework"
                          ValueChanged="OnAutoFrameworkChanged"
                          Search="@_autoSearch"
                          SearchChanged="OnAutoSearchChanged"
                          Open="@_autoOpen"
                          OpenChanged="OnAutoOpenChanged"
                          AutoHighlight="true">
                    <ComboboxInput Placeholder="Select a framework" />
                    <ComboboxContent>
                        <ComboboxEmpty>No items found.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var framework in FilterFrameworks(_autoSearch))
                            {
                                <ComboboxItem Value="@framework">@framework</ComboboxItem>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="Popup"
                     Description="You can trigger the combobox from a button or any other component by using the render prop. Move the ComboboxInput inside the ComboboxContent."
                     Code="@PopupCode"
                     CodeLanguage="razor">
            <Combobox Value="@_popupCountry"
                      ValueChanged="OnPopupCountryChanged"
                      Search="@_popupSearch"
                      SearchChanged="OnPopupSearchChanged"
                      Open="@_popupOpen"
                      OpenChanged="OnPopupOpenChanged">
                <PopoverTrigger AsChild="true">
                    <Button Variant="ButtonVariant.Outline"
                            role="combobox"
                            aria-expanded="@_popupOpen"
                            Class="w-[200px] justify-between">
                        @(string.IsNullOrWhiteSpace(_popupCountry) ? "Select country" : _popupCountry)
                        <Icon Name="LucideIcon.ChevronsUpDown" Class="opacity-50" />
                    </Button>
                </PopoverTrigger>
                <ComboboxContent Class="w-[200px] p-0">
                    <ComboboxInput Anchor="false" ShowTrigger="false" Placeholder="Search countries..." />
                    <ComboboxEmpty>No country found.</ComboboxEmpty>
                    <ComboboxList>
                        @foreach (var country in CountryOptions.Where(option => Matches(option.Name, _popupSearch)))
                        {
                            <ComboboxItem Value="@country.Name">@country.Name</ComboboxItem>
                        }
                    </ComboboxList>
                </ComboboxContent>
            </Combobox>
        </DemoSection>

        <DemoSection Title="Input Group"
                     Description="You can add an addon to the combobox by using the InputGroupAddon component inside the ComboboxInput."
                     Code="@InputGroupCode"
                     CodeLanguage="razor">
            <Div MaxWidth="MaxWidth.IsSm">
                <Combobox Value="@_inputGroupTimezone"
                          ValueChanged="OnInputGroupTimezoneChanged"
                          Search="@_inputGroupSearch"
                          SearchChanged="OnInputGroupSearchChanged"
                          Open="@_inputGroupOpen"
                          OpenChanged="OnInputGroupOpenChanged">
                    <ComboboxInput Placeholder="Select a timezone">
                        <InputGroupAddon>
                            <Icon Name="LucideIcon.Globe" />
                        </InputGroupAddon>
                    </ComboboxInput>
                    <ComboboxContent AlignOffset="-28" Class="w-60">
                        <ComboboxEmpty>No timezones found.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var group in FilterTimezoneGroups(_inputGroupSearch))
                            {
                                <ComboboxGroup>
                                    <ComboboxLabel>@group.Label</ComboboxLabel>
                                    @foreach (var item in group.Items)
                                    {
                                        <ComboboxItem Value="@item">@item</ComboboxItem>
                                    }
                                </ComboboxGroup>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>

        <DemoSection Title="RTL"
                     Description="To enable RTL support in shadcn/ui, see the RTL configuration guide."
                     Code="@RtlCode"
                     CodeLanguage="razor">
            <Div dir="rtl" MaxWidth="MaxWidth.IsSm" Space="Space.Y.Is2">
                <Label>الفئات</Label>
                <Combobox Multiple="true"
                          Values="@_rtlCategories"
                          ValueChangedMultiple="OnRtlCategoriesChanged"
                          Search="@_rtlSearch"
                          SearchChanged="OnRtlSearchChanged"
                          Open="@_rtlOpen"
                          OpenChanged="OnRtlOpenChanged">
                    <ComboboxChips>
                        @foreach (var category in _rtlCategories)
                        {
                            <ComboboxChip Value="@category">@category</ComboboxChip>
                        }
                        <ComboboxChipsInput Placeholder="أضف فئات" />
                    </ComboboxChips>
                    <ComboboxContent>
                        <ComboboxEmpty>لا توجد نتائج.</ComboboxEmpty>
                        <ComboboxList>
                            @foreach (var category in ArabicCategories.Where(category => Matches(category, _rtlSearch)))
                            {
                                <ComboboxItem Value="@category">@category</ComboboxItem>
                            }
                        </ComboboxList>
                    </ComboboxContent>
                </Combobox>
            </Div>
        </DemoSection>
    </Div>
</Div>

@code {
    private sealed record CountryOption(string Name, string Description);
    private sealed record TimezoneGroup(string Label, string[] Items);

    private static readonly string[] Frameworks =
    [
        "Next.js",
        "SvelteKit",
        "Nuxt.js",
        "Remix",
        "Astro"
    ];

    private static readonly CountryOption[] CountryOptions =
    [
        new("Argentina", "South America (ar)"),
        new("Australia", "Oceania (au)"),
        new("Brazil", "South America (br)"),
        new("Canada", "North America (ca)"),
        new("China", "Asia (cn)"),
        new("Colombia", "South America (co)"),
        new("Egypt", "Africa (eg)"),
        new("France", "Europe (fr)"),
        new("Germany", "Europe (de)"),
        new("Italy", "Europe (it)"),
        new("Japan", "Asia (jp)"),
        new("Kenya", "Africa (ke)"),
        new("Mexico", "North America (mx)"),
        new("New Zealand", "Oceania (nz)"),
        new("Nigeria", "Africa (ng)"),
        new("South Africa", "Africa (za)"),
        new("South Korea", "Asia (kr)"),
        new("United Kingdom", "Europe (gb)"),
        new("United States", "North America (us)")
    ];

    private static readonly TimezoneGroup[] TimezoneGroups =
    [
        new("Americas", ["(GMT-5) New York", "(GMT-8) Los Angeles", "(GMT-6) Chicago"]),
        new("Europe", ["(GMT+0) London", "(GMT+1) Paris", "(GMT+1) Berlin"]),
        new("Asia/Pacific", ["(GMT+9) Tokyo", "(GMT+8) Singapore", "(GMT+11) Sydney"])
    ];

    private static readonly string[] ArabicCategories =
    [
        "التكنولوجيا",
        "التصميم",
        "الأعمال",
        "التسويق"
    ];

    private string? _heroFramework;
    private string? _heroSearch;
    private bool _heroOpen;
    private string? _basicFramework;
    private string? _basicSearch;
    private bool _basicOpen;
    private string[] _multipleFrameworks = ["Next.js"];
    private string? _multipleSearch;
    private bool _multipleOpen;
    private string? _clearFramework = "Next.js";
    private string? _clearSearch = "Next.js";
    private bool _clearOpen;
    private string? _timezone;
    private string? _timezoneSearch;
    private bool _timezoneOpen;
    private string? _customCountry;
    private string? _customSearch;
    private bool _customOpen;
    private string? _invalidFramework;
    private string? _invalidSearch;
    private bool _invalidOpen;
    private string? _autoFramework;
    private string? _autoSearch;
    private bool _autoOpen;
    private string? _popupCountry;
    private string? _popupSearch;
    private bool _popupOpen;
    private string? _inputGroupTimezone;
    private string? _inputGroupSearch;
    private bool _inputGroupOpen;
    private string[] _rtlCategories = ["التكنولوجيا"];
    private string? _rtlSearch;
    private bool _rtlOpen;

    private static IEnumerable<string> FilterFrameworks(string? search)
    {
        return Frameworks.Where(framework => Matches(framework, search));
    }

    private static List<TimezoneGroup> FilterTimezoneGroups(string? search)
    {
        return TimezoneGroups
            .Select(group => new TimezoneGroup(group.Label, group.Items.Where(item => Matches(item, search)).ToArray()))
            .Where(group => group.Items.Length > 0)
            .ToList();
    }

    private static bool Matches(string value, string? search)
    {
        return string.IsNullOrWhiteSpace(search) || value.Contains(search, StringComparison.OrdinalIgnoreCase);
    }

    private Task OnHeroFrameworkChanged(string? value) { _heroFramework = value; return Task.CompletedTask; }
    private Task OnHeroSearchChanged(string? value) { _heroSearch = value; return Task.CompletedTask; }
    private Task OnHeroOpenChanged(bool value) { _heroOpen = value; return Task.CompletedTask; }
    private Task OnBasicFrameworkChanged(string? value) { _basicFramework = value; return Task.CompletedTask; }
    private Task OnBasicSearchChanged(string? value) { _basicSearch = value; return Task.CompletedTask; }
    private Task OnBasicOpenChanged(bool value) { _basicOpen = value; return Task.CompletedTask; }
    private Task OnMultipleFrameworksChanged(string[] values) { _multipleFrameworks = values; return Task.CompletedTask; }
    private Task OnMultipleSearchChanged(string? value) { _multipleSearch = value; return Task.CompletedTask; }
    private Task OnMultipleOpenChanged(bool value) { _multipleOpen = value; return Task.CompletedTask; }
    private Task OnClearFrameworkChanged(string? value) { _clearFramework = value; return Task.CompletedTask; }
    private Task OnClearSearchChanged(string? value) { _clearSearch = value; return Task.CompletedTask; }
    private Task OnClearOpenChanged(bool value) { _clearOpen = value; return Task.CompletedTask; }
    private Task OnTimezoneChanged(string? value) { _timezone = value; return Task.CompletedTask; }
    private Task OnTimezoneSearchChanged(string? value) { _timezoneSearch = value; return Task.CompletedTask; }
    private Task OnTimezoneOpenChanged(bool value) { _timezoneOpen = value; return Task.CompletedTask; }
    private Task OnCustomCountryChanged(string? value) { _customCountry = value; return Task.CompletedTask; }
    private Task OnCustomSearchChanged(string? value) { _customSearch = value; return Task.CompletedTask; }
    private Task OnCustomOpenChanged(bool value) { _customOpen = value; return Task.CompletedTask; }
    private Task OnInvalidFrameworkChanged(string? value) { _invalidFramework = value; return Task.CompletedTask; }
    private Task OnInvalidSearchChanged(string? value) { _invalidSearch = value; return Task.CompletedTask; }
    private Task OnInvalidOpenChanged(bool value) { _invalidOpen = value; return Task.CompletedTask; }
    private Task OnAutoFrameworkChanged(string? value) { _autoFramework = value; return Task.CompletedTask; }
    private Task OnAutoSearchChanged(string? value) { _autoSearch = value; return Task.CompletedTask; }
    private Task OnAutoOpenChanged(bool value) { _autoOpen = value; return Task.CompletedTask; }
    private Task OnPopupCountryChanged(string? value) { _popupCountry = value; return Task.CompletedTask; }
    private Task OnPopupSearchChanged(string? value) { _popupSearch = value; return Task.CompletedTask; }
    private Task OnPopupOpenChanged(bool value) { _popupOpen = value; return Task.CompletedTask; }
    private Task OnInputGroupTimezoneChanged(string? value) { _inputGroupTimezone = value; return Task.CompletedTask; }
    private Task OnInputGroupSearchChanged(string? value) { _inputGroupSearch = value; return Task.CompletedTask; }
    private Task OnInputGroupOpenChanged(bool value) { _inputGroupOpen = value; return Task.CompletedTask; }
    private Task OnRtlCategoriesChanged(string[] values) { _rtlCategories = values; return Task.CompletedTask; }
    private Task OnRtlSearchChanged(string? value) { _rtlSearch = value; return Task.CompletedTask; }
    private Task OnRtlOpenChanged(bool value) { _rtlOpen = value; return Task.CompletedTask; }

    private const string BasicCode =
@"<Combobox Value=""@framework"" ValueChanged=""OnFrameworkChanged"">
    <ComboboxInput Placeholder=""Select a framework"" />
    <ComboboxContent>
        <ComboboxEmpty>No items found.</ComboboxEmpty>
        <ComboboxList>
            <ComboboxItem Value=""Next.js"">Next.js</ComboboxItem>
            <ComboboxItem Value=""SvelteKit"">SvelteKit</ComboboxItem>
            <ComboboxItem Value=""Nuxt.js"">Nuxt.js</ComboboxItem>
        </ComboboxList>
    </ComboboxContent>
</Combobox>";

    private const string MultipleCode =
@"<Combobox Multiple=""true"" Values=""@frameworks"" ValueChangedMultiple=""OnFrameworksChanged"">
    <ComboboxChips>
        <ComboboxChip Value=""Next.js"">Next.js</ComboboxChip>
        <ComboboxChipsInput Placeholder=""Add framework"" />
    </ComboboxChips>
    <ComboboxContent>...</ComboboxContent>
</Combobox>";

    private const string ClearButtonCode =
@"<Combobox Value=""@framework"" ValueChanged=""OnFrameworkChanged"" ShowClear=""true"">
    <ComboboxInput Placeholder=""Select a framework"" />
    <ComboboxContent>...</ComboboxContent>
</Combobox>";

    private const string GroupsCode =
@"<Combobox>
    <ComboboxInput Placeholder=""Select a timezone"" />
    <ComboboxContent>
        <ComboboxEmpty>No timezones found.</ComboboxEmpty>
        <ComboboxList>
            <ComboboxGroup>
                <ComboboxLabel>Americas</ComboboxLabel>
                <ComboboxItem Value=""(GMT-5) New York"">(GMT-5) New York</ComboboxItem>
            </ComboboxGroup>
            <ComboboxSeparator />
            <ComboboxGroup>
                <ComboboxLabel>Europe</ComboboxLabel>
                <ComboboxItem Value=""(GMT+0) London"">(GMT+0) London</ComboboxItem>
            </ComboboxGroup>
        </ComboboxList>
    </ComboboxContent>
</Combobox>";

    private const string CustomItemsCode =
@"<Combobox>
    <ComboboxInput Placeholder=""Search countries..."" />
    <ComboboxContent>
        <ComboboxList>
            <ComboboxItem Value=""Argentina"">
                <Div Class=""flex flex-col"">
                    <Span Class=""font-medium"">Argentina</Span>
                    <Paragraph Class=""m-0 text-xs text-muted-foreground"">South America (ar)</Paragraph>
                </Div>
            </ComboboxItem>
        </ComboboxList>
    </ComboboxContent>
</Combobox>";

    private const string InvalidCode =
@"<Combobox>
    <ComboboxInput Placeholder=""Select a framework"" aria-invalid=""true"" />
    <ComboboxContent>...</ComboboxContent>
</Combobox>";

    private const string DisabledCode =
@"<Combobox Value=""Nuxt.js"" Disabled=""true"">
    <ComboboxInput Placeholder=""Select a framework"" />
    <ComboboxContent>...</ComboboxContent>
</Combobox>";

    private const string AutoHighlightCode =
@"<Combobox AutoHighlight=""true"">
    <ComboboxInput Placeholder=""Select a framework"" />
    <ComboboxContent>...</ComboboxContent>
</Combobox>";

    private const string PopupCode =
@"<Combobox Value=""@country"" ValueChanged=""OnCountryChanged"">
    <PopoverTrigger AsChild=""true"">
        <Button Variant=""ButtonVariant.Outline"" role=""combobox"">
            Select country
            <Icon Name=""LucideIcon.ChevronsUpDown"" />
        </Button>
    </PopoverTrigger>
    <ComboboxContent Class=""w-[200px] p-0"">
        <ComboboxInput Anchor=""false"" ShowTrigger=""false"" Placeholder=""Search countries..."" />
        <ComboboxEmpty>No country found.</ComboboxEmpty>
        <ComboboxList>...</ComboboxList>
    </ComboboxContent>
</Combobox>";

    private const string InputGroupCode =
@"<Combobox>
    <ComboboxInput Placeholder=""Select a timezone"">
        <InputGroupAddon>
            <Icon Name=""LucideIcon.Globe"" />
        </InputGroupAddon>
    </ComboboxInput>
    <ComboboxContent>...</ComboboxContent>
</Combobox>";

    private const string RtlCode =
@"<Div dir=""rtl"">
    <Label>الفئات</Label>
    <Combobox Multiple=""true"">
        <ComboboxChips>
            <ComboboxChip Value=""التكنولوجيا"">التكنولوجيا</ComboboxChip>
            <ComboboxChipsInput Placeholder=""أضف فئات"" />
        </ComboboxChips>
        <ComboboxContent>...</ComboboxContent>
    </Combobox>
</Div>";
}
