@page "/context-menus"

<PageTitle>Context Menus - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Section Space="Space.Y.Is4">
            <DemoSection
                         Description="Displays a menu of actions triggered by a right click."
                         Code="@BasicCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-overview-trigger"
                                        data-testid="context-menu-overview-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("52")'>
                            <ContextMenuItem Indented="true">
                                Back
                                <ContextMenuShortcut>Cmd+[</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuItem Indented="true" Disabled="true">
                                Forward
                                <ContextMenuShortcut>Cmd+]</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuItem Indented="true">
                                Reload
                                <ContextMenuShortcut>Cmd+R</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuSub>
                                <ContextMenuSubTrigger Indented="true">More Tools</ContextMenuSubTrigger>
                                <ContextMenuSubContent Width='Width.Token("44")'>
                                    <ContextMenuItem>Save Page...</ContextMenuItem>
                                    <ContextMenuItem>Create Shortcut...</ContextMenuItem>
                                    <ContextMenuItem>Name Window...</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem>Developer Tools</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem Variant="destructive">Delete</ContextMenuItem>
                                </ContextMenuSubContent>
                            </ContextMenuSub>
                            <ContextMenuSeparator />
                            <ContextMenuCheckboxItem @bind-Checked="_showBookmarks">
                                Show Bookmarks
                            </ContextMenuCheckboxItem>
                            <ContextMenuCheckboxItem @bind-Checked="_showFullUrls">
                                Show Full URLs
                            </ContextMenuCheckboxItem>
                            <ContextMenuSeparator />
                            <ContextMenuRadioGroup>
                                <ContextMenuLabel Indented="true">People</ContextMenuLabel>
                                <ContextMenuRadioItem Selected="@IsPedroSelected" SelectedChanged="@(selected => OnPersonSelected("pedro", selected))">
                                    Pedro Duarte
                                </ContextMenuRadioItem>
                                <ContextMenuRadioItem Selected="@IsColmSelected" SelectedChanged="@(selected => OnPersonSelected("colm", selected))">
                                    Colm Tuite
                                </ContextMenuRadioItem>
                            </ContextMenuRadioGroup>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Basic"
                         Description="A simple context menu with a few actions."
                         Code="@BasicSimpleCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-demo-trigger"
                                        data-testid="context-menu-demo-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("48")'>
                            <ContextMenuItem>Profile</ContextMenuItem>
                            <ContextMenuItem>Billing</ContextMenuItem>
                            <ContextMenuItem>Team</ContextMenuItem>
                            <ContextMenuItem>Subscription</ContextMenuItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Submenu"
                         Description="Use `ContextMenuSub` to nest secondary actions."
                         Code="@SubmenuCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-submenu-trigger"
                                        data-testid="context-menu-submenu-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("56")'>
                            <ContextMenuItem>
                                Save page
                                <ContextMenuShortcut>Ctrl+S</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuItem>
                                Duplicate tab
                                <ContextMenuShortcut>Ctrl+D</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuSub>
                                <ContextMenuSubTrigger>More tools</ContextMenuSubTrigger>
                                <ContextMenuSubContent Width='Width.Token("44")'>
                                    <ContextMenuItem>Downloads</ContextMenuItem>
                                    <ContextMenuItem>Task manager</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem>Developer tools</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem Variant="destructive">Delete tab</ContextMenuItem>
                                </ContextMenuSubContent>
                            </ContextMenuSub>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Shortcuts"
                         Description="Add `ContextMenuShortcut` to show keyboard hints."
                         Code="@(@"<ContextMenu>
    <ContextMenuTrigger Class=""flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed text-sm"">Right click</ContextMenuTrigger>
    <ContextMenuContent>
        <ContextMenuItem>Back<ContextMenuShortcut>Cmd+[</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Reload<ContextMenuShortcut>Cmd+R</ContextMenuShortcut></ContextMenuItem>
    </ContextMenuContent>
</ContextMenu>")"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-shortcuts-trigger"
                                        data-testid="context-menu-shortcuts-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("52")'>
                            <ContextMenuItem>Back<ContextMenuShortcut>Cmd+[</ContextMenuShortcut></ContextMenuItem>
                            <ContextMenuItem>Reload<ContextMenuShortcut>Cmd+R</ContextMenuShortcut></ContextMenuItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Groups"
                         Description="Group related actions and separate them with dividers."
                         Code="@(@"<ContextMenuContent>
    <ContextMenuLabel>View</ContextMenuLabel>
    <ContextMenuItem>Command Menu</ContextMenuItem>
    <ContextMenuSeparator />
    <ContextMenuLabel>Account</ContextMenuLabel>
    <ContextMenuItem>Profile</ContextMenuItem>
</ContextMenuContent>")"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-groups-trigger"
                                        data-testid="context-menu-groups-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("52")'>
                            <ContextMenuLabel>View</ContextMenuLabel>
                            <ContextMenuItem>Command Menu</ContextMenuItem>
                            <ContextMenuSeparator />
                            <ContextMenuLabel>Account</ContextMenuLabel>
                            <ContextMenuItem>Profile</ContextMenuItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Icons"
                         Description="Combine icons with labels for quick scanning."
                         Code="@(@"<ContextMenuItem>
    <Icon Name=""LucideIcon.Copy"" />
    Copy
</ContextMenuItem>")"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-icons-trigger"
                                        data-testid="context-menu-icons-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("52")'>
                            <ContextMenuItem><Icon Name="LucideIcon.Copy" />Copy</ContextMenuItem>
                            <ContextMenuItem><Icon Name="LucideIcon.Share" />Share</ContextMenuItem>
                            <ContextMenuItem><Icon Name="LucideIcon.Star" />Favorite</ContextMenuItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Checkboxes"
                         Description="Use `ContextMenuCheckboxItem` for toggles."
                         Code="@CheckboxCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-checkbox-trigger"
                                        data-testid="context-menu-checkbox-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("56")'>
                            <ContextMenuLabel>View</ContextMenuLabel>
                            <ContextMenuSeparator />
                            <ContextMenuCheckboxItem @bind-Checked="_showBookmarks">
                                Show bookmarks bar
                            </ContextMenuCheckboxItem>
                            <ContextMenuCheckboxItem @bind-Checked="_showFullUrls">
                                Show full URLs
                            </ContextMenuCheckboxItem>
                            <ContextMenuCheckboxItem @bind-Checked="_showLineNumbers">
                                Show line numbers
                            </ContextMenuCheckboxItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Radio"
                         Description="Use `ContextMenuRadioItem` for exclusive choices."
                         Code="@RadioCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-radio-trigger"
                                        data-testid="context-menu-radio-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("56")'>
                            <ContextMenuLabel>Density</ContextMenuLabel>
                            <ContextMenuSeparator />
                            <ContextMenuRadioGroup>
                                <ContextMenuRadioItem Selected="@IsComfortableSelected" SelectedChanged="@(selected => OnDensitySelected("comfortable", selected))">
                                    Comfortable
                                </ContextMenuRadioItem>
                                <ContextMenuRadioItem Selected="@IsCompactSelected" SelectedChanged="@(selected => OnDensitySelected("compact", selected))">
                                    Compact
                                </ContextMenuRadioItem>
                            </ContextMenuRadioGroup>
                            <ContextMenuSeparator />
                            <ContextMenuItem Variant="destructive">Delete project</ContextMenuItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Destructive"
                         Description="Use `variant=&quot;destructive&quot;` to style the menu item as destructive."
                         Code="@(@"<ContextMenuItem><Icon Name=""LucideIcon.Pencil"" />Edit project</ContextMenuItem>
<ContextMenuItem><Icon Name=""LucideIcon.Share"" />Share project</ContextMenuItem>
<ContextMenuSeparator />
<ContextMenuItem Variant=""destructive""><Icon Name=""LucideIcon.Trash"" />Delete project</ContextMenuItem>")"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-destructive-trigger"
                                        data-testid="context-menu-destructive-trigger"
                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("52")'>
                            <ContextMenuItem><Icon Name="LucideIcon.Pencil" />Edit project</ContextMenuItem>
                            <ContextMenuItem><Icon Name="LucideIcon.Share" />Share project</ContextMenuItem>
                            <ContextMenuSeparator />
                            <ContextMenuItem Variant="destructive"><Icon Name="LucideIcon.Trash" />Delete project</ContextMenuItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="RTL"
                         Description="To enable RTL support in shadcn/ui, see the RTL configuration guide."
                         Code="@RtlCode"
                         CodeLanguage="razor">
                <DirectionProvider Dir="rtl">
                    <Div TextAlign="TextAlign.End">
                        <ContextMenu>
                            <ContextMenuTrigger Id="context-menu-rtl-trigger"
                                                data-testid="context-menu-rtl-trigger"
                                                Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[300px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                                انقر بزر الماوس الأيمن لعرض الإجراءات
                            </ContextMenuTrigger>
                            <ContextMenuContent>
                                <Div Width='Width.Token("52")'>
                                    <ContextMenuItem>رجوع</ContextMenuItem>
                                    <ContextMenuItem>إعادة تحميل</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem Variant="destructive">حذف</ContextMenuItem>
                                </Div>
                            </ContextMenuContent>
                        </ContextMenu>
                    </Div>
                </DirectionProvider>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Context Menu In Dialog"
                         Description="A context menu opened from inside modal dialog content should still be exposed and interactive."
                         Code="@DialogCode"
                         CodeLanguage="razor">
                <Div Display="Display.Flex" Class="min-h-48" ItemsAlign="Items.Center" Justify="Justify.Center">
                    <Dialog>
                        <DialogTrigger AsChild="true">
                            <Button Variant="ButtonVariant.Outline">Open context menu dialog</Button>
                        </DialogTrigger>

                        <DialogContent Class="sm:max-w-md">
                            <DialogHeader>
                                <DialogTitle>Context menu dialog</DialogTitle>
                                <DialogDescription>
                                    Right click the nested surface to reveal context menu actions inside the dialog.
                                </DialogDescription>
                            </DialogHeader>

                            <Div Display="Display.Flex" Justify="Justify.Center">
                                <ContextMenu>
                                    <ContextMenuTrigger Id="context-menu-dialog-trigger"
                                                        data-testid="context-menu-dialog-trigger"
                                                        Display="Display.Flex" Height='Height.Token("[150px]")' Width='Width.Token("[260px]")' ItemsAlign="Items.Center" Justify="Justify.Center" Rounded="Rounded.Md" Border="Border.Is1" Class="border-dashed" TextSize="TextSize.Sm">
                                        Right click dialog surface
                                    </ContextMenuTrigger>
                                    <ContextMenuContent>
                                        <Div Width='Width.Token("48")'>
                                            <ContextMenuItem>Pin panel</ContextMenuItem>
                                            <ContextMenuSub>
                                                <ContextMenuSubTrigger>More actions</ContextMenuSubTrigger>
                                                <ContextMenuSubContent Width='Width.Token("44")'>
                                                    <ContextMenuItem>Duplicate view</ContextMenuItem>
                                                    <ContextMenuItem>Developer Tools</ContextMenuItem>
                                                </ContextMenuSubContent>
                                            </ContextMenuSub>
                                        </Div>
                                    </ContextMenuContent>
                                </ContextMenu>
                            </Div>
                        </DialogContent>
                    </Dialog>
                </Div>
            </DemoSection>
        </Section>
    </Div>
</Div>

@code {
    private bool _showBookmarks = true;
    private bool _showFullUrls;
    private bool _showLineNumbers = true;
    private string _selectedDensity = "comfortable";
    private string _selectedPerson = "pedro";
    private bool IsComfortableSelected => _selectedDensity == "comfortable";
    private bool IsCompactSelected => _selectedDensity == "compact";
    private bool IsPedroSelected => _selectedPerson == "pedro";
    private bool IsColmSelected => _selectedPerson == "colm";

    private RenderFragment ContextMenuTriggerText => builder =>
    {
        builder.OpenElement(0, "span");
        builder.AddAttribute(1, "class", "hidden md:inline");
        builder.AddContent(2, "Right click here");
        builder.CloseElement();
        builder.OpenElement(3, "span");
        builder.AddAttribute(4, "class", "md:hidden");
        builder.AddContent(5, "Long press here");
        builder.CloseElement();
    };

    private void OnDensitySelected(string density, bool selected)
    {
        if (selected)
            _selectedDensity = density;
    }

    private void OnPersonSelected(string person, bool selected)
    {
        if (selected)
            _selectedPerson = person;
    }

    private const string BasicCode =
@"<ContextMenu>
    <ContextMenuTrigger Class=""flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed text-sm"">
        Right click here
    </ContextMenuTrigger>
    <ContextMenuContent>
        <Div Class=""w-52"">
            <ContextMenuItem Indented=""true"">Back<ContextMenuShortcut>Cmd+[</ContextMenuShortcut></ContextMenuItem>
            <ContextMenuItem Indented=""true"" Disabled=""true"">Forward<ContextMenuShortcut>Cmd+]</ContextMenuShortcut></ContextMenuItem>
            <ContextMenuItem Indented=""true"">Reload<ContextMenuShortcut>Cmd+R</ContextMenuShortcut></ContextMenuItem>
            <ContextMenuSub>
                <ContextMenuSubTrigger Indented=""true"">More Tools</ContextMenuSubTrigger>
                <ContextMenuSubContent Class=""w-44"">
                    <ContextMenuItem>Save Page...</ContextMenuItem>
                    <ContextMenuItem>Create Shortcut...</ContextMenuItem>
                    <ContextMenuItem>Name Window...</ContextMenuItem>
                    <ContextMenuSeparator />
                    <ContextMenuItem>Developer Tools</ContextMenuItem>
                    <ContextMenuSeparator />
                    <ContextMenuItem Variant=""destructive"">Delete</ContextMenuItem>
                </ContextMenuSubContent>
            </ContextMenuSub>
            <ContextMenuSeparator />
            <ContextMenuCheckboxItem @bind-Checked=""showBookmarks"">Show Bookmarks</ContextMenuCheckboxItem>
            <ContextMenuCheckboxItem @bind-Checked=""showFullUrls"">Show Full URLs</ContextMenuCheckboxItem>
            <ContextMenuSeparator />
            <ContextMenuRadioGroup>
                <ContextMenuLabel Indented=""true"">People</ContextMenuLabel>
                <ContextMenuRadioItem Selected=""true"">Pedro Duarte</ContextMenuRadioItem>
                <ContextMenuRadioItem>Colm Tuite</ContextMenuRadioItem>
            </ContextMenuRadioGroup>
        </Div>
    </ContextMenuContent>
</ContextMenu>";

    private const string BasicSimpleCode =
@"<ContextMenu>
    <ContextMenuTrigger Class=""flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed text-sm"">
        Right click here
    </ContextMenuTrigger>
    <ContextMenuContent>
        <ContextMenuItem>Profile</ContextMenuItem>
        <ContextMenuItem>Billing</ContextMenuItem>
        <ContextMenuItem>Team</ContextMenuItem>
        <ContextMenuItem>Subscription</ContextMenuItem>
    </ContextMenuContent>
</ContextMenu>";

    private const string SubmenuCode =
@"<ContextMenu>
    <ContextMenuTrigger Class=""flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed text-sm"">
        Right click for more tools
    </ContextMenuTrigger>
    <ContextMenuContent>
        <Div Class=""w-56"">
            <ContextMenuItem>Save page<ContextMenuShortcut>Ctrl+S</ContextMenuShortcut></ContextMenuItem>
            <ContextMenuItem>Duplicate tab<ContextMenuShortcut>Ctrl+D</ContextMenuShortcut></ContextMenuItem>
            <ContextMenuSub>
                <ContextMenuSubTrigger>More tools</ContextMenuSubTrigger>
                <ContextMenuSubContent Class=""w-44"">
                    <ContextMenuItem>Downloads</ContextMenuItem>
                    <ContextMenuItem>Task manager</ContextMenuItem>
                    <ContextMenuSeparator />
                    <ContextMenuItem>Developer tools</ContextMenuItem>
                </ContextMenuSubContent>
            </ContextMenuSub>
        </Div>
    </ContextMenuContent>
</ContextMenu>";

    private const string CheckboxCode =
@"<ContextMenu>
    <ContextMenuTrigger Class=""flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed text-sm"">
        Right click for view options
    </ContextMenuTrigger>
    <ContextMenuContent>
        <Div Class=""w-56"">
            <ContextMenuLabel>View</ContextMenuLabel>
            <ContextMenuSeparator />
            <ContextMenuCheckboxItem @bind-Checked=""showBookmarks"">Show bookmarks bar</ContextMenuCheckboxItem>
            <ContextMenuCheckboxItem @bind-Checked=""showFullUrls"">Show full URLs</ContextMenuCheckboxItem>
            <ContextMenuCheckboxItem @bind-Checked=""showLineNumbers"">Show line numbers</ContextMenuCheckboxItem>
        </Div>
    </ContextMenuContent>
</ContextMenu>";

    private const string RadioCode =
@"<ContextMenu>
    <ContextMenuTrigger Class=""flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed text-sm"">
        Right click for layout choices
    </ContextMenuTrigger>
    <ContextMenuContent>
        <Div Class=""w-56"">
            <ContextMenuLabel>Density</ContextMenuLabel>
            <ContextMenuSeparator />
            <ContextMenuRadioGroup>
                <ContextMenuRadioItem Selected=""true"">Comfortable</ContextMenuRadioItem>
                <ContextMenuRadioItem>Compact</ContextMenuRadioItem>
            </ContextMenuRadioGroup>
            <ContextMenuSeparator />
            <ContextMenuItem Variant=""destructive"">Delete project</ContextMenuItem>
        </Div>
    </ContextMenuContent>
</ContextMenu>";

    private const string RtlCode =
@"<DirectionProvider Dir=""rtl"">
    <ContextMenu>
        <ContextMenuTrigger Class=""flex h-[150px] w-[300px] items-center justify-center rounded-md border border-dashed text-sm"">
            انقر بزر الماوس الأيمن لعرض الإجراءات
        </ContextMenuTrigger>
        <ContextMenuContent>
            <Div Class=""w-52"">
                <ContextMenuItem>رجوع</ContextMenuItem>
                <ContextMenuItem>إعادة تحميل</ContextMenuItem>
                <ContextMenuSeparator />
                <ContextMenuItem Variant=""destructive"">حذف</ContextMenuItem>
            </Div>
        </ContextMenuContent>
    </ContextMenu>
</DirectionProvider>";

    private const string DialogCode =
@"<Dialog>
    <DialogTrigger AsChild=""true"">
        <Button Variant=""ButtonVariant.Outline"">Open context menu dialog</Button>
    </DialogTrigger>
    <DialogContent Class=""sm:max-w-md"">
        <DialogHeader>
            <DialogTitle>Context menu dialog</DialogTitle>
            <DialogDescription>
                Right click the nested surface to reveal context menu actions inside the dialog.
            </DialogDescription>
        </DialogHeader>
        <Div Class=""flex justify-center"">
            <ContextMenu>
                <ContextMenuTrigger Class=""flex h-[150px] w-[260px] items-center justify-center rounded-md border border-dashed text-sm"">
                    Right click dialog surface
                </ContextMenuTrigger>
                <ContextMenuContent>
                    <Div Class=""w-48"">
                        <ContextMenuItem>Pin panel</ContextMenuItem>
                        <ContextMenuSub>
                            <ContextMenuSubTrigger>More actions</ContextMenuSubTrigger>
                            <ContextMenuSubContent Class=""w-44"">
                                <ContextMenuItem>Duplicate view</ContextMenuItem>
                                <ContextMenuItem>Developer Tools</ContextMenuItem>
                            </ContextMenuSubContent>
                        </ContextMenuSub>
                    </Div>
                </ContextMenuContent>
            </ContextMenu>
        </Div>
    </DialogContent>
</Dialog>";
}
