@page "/components/context-menu"

<PageTitle>Context Menus - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Section Space="Space.Y.Is4">
            <DemoSection Description="Displays a menu of actions triggered by a right click."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@BasicCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-overview-trigger"
                                        data-testid="context-menu-overview-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent Width='Width.Token("48")'>
                        <ContextMenuGroup>
                            <ContextMenuItem>
                                Back
                                <ContextMenuShortcut>⌘[</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuItem Disabled="true">
                                Forward
                                <ContextMenuShortcut>⌘]</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuItem>
                                Reload
                                <ContextMenuShortcut>⌘R</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuSub>
                                <ContextMenuSubTrigger>More Tools</ContextMenuSubTrigger>
                                <ContextMenuSubContent Width='Width.Token("44")'>
                                    <ContextMenuItem>Save Page...</ContextMenuItem>
                                    <ContextMenuItem>Create Shortcut...</ContextMenuItem>
                                    <ContextMenuItem>Name Window...</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem>Developer Tools</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem Variant="destructive">Delete</ContextMenuItem>
                                </ContextMenuSubContent>
                            </ContextMenuSub>
                        </ContextMenuGroup>
                        <ContextMenuSeparator />
                        <ContextMenuGroup>
                            <ContextMenuCheckboxItem @bind-Checked="_showBookmarks">
                                Show Bookmarks
                            </ContextMenuCheckboxItem>
                            <ContextMenuCheckboxItem @bind-Checked="_showFullUrls">
                                Show Full URLs
                            </ContextMenuCheckboxItem>
                        </ContextMenuGroup>
                        <ContextMenuSeparator />
                        <ContextMenuGroup>
                            <ContextMenuRadioGroup>
                                <ContextMenuLabel>People</ContextMenuLabel>
                                <ContextMenuRadioItem Selected="@IsPedroSelected" SelectedChanged="@(selected => OnPersonSelected("pedro", selected))">
                                    Pedro Duarte
                                </ContextMenuRadioItem>
                                <ContextMenuRadioItem Selected="@IsColmSelected" SelectedChanged="@(selected => OnPersonSelected("colm", selected))">
                                    Colm Tuite
                                </ContextMenuRadioItem>
                            </ContextMenuRadioGroup>
                        </ContextMenuGroup>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Basic"
                         Description="A simple context menu with a few actions."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@BasicSimpleCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-demo-trigger"
                                        data-testid="context-menu-demo-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <ContextMenuItem>Back</ContextMenuItem>
                        <ContextMenuItem Disabled="true">Forward</ContextMenuItem>
                        <ContextMenuItem>Reload</ContextMenuItem>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Submenu"
                         Description="Use ContextMenuSub to nest secondary actions."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@SubmenuCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-submenu-trigger"
                                        data-testid="context-menu-submenu-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div>
                            <ContextMenuItem>
                                Copy
                                <ContextMenuShortcut>⌘C</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuItem>
                                Cut
                                <ContextMenuShortcut>⌘X</ContextMenuShortcut>
                            </ContextMenuItem>
                            <ContextMenuSub>
                                <ContextMenuSubTrigger>More Tools</ContextMenuSubTrigger>
                                <ContextMenuSubContent>
                                    <ContextMenuItem>Save Page...</ContextMenuItem>
                                    <ContextMenuItem>Create Shortcut...</ContextMenuItem>
                                    <ContextMenuItem>Name Window...</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem>Developer Tools</ContextMenuItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuItem Variant="destructive">Delete</ContextMenuItem>
                                </ContextMenuSubContent>
                            </ContextMenuSub>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Shortcuts"
                         Description="Add ContextMenuShortcut to show keyboard hints."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@(@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-shortcuts-trigger""
                        data-testid=""context-menu-shortcuts-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <ContextMenuItem>Back<ContextMenuShortcut>⌘[</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Forward<ContextMenuShortcut>⌘]</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Reload<ContextMenuShortcut>⌘R</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuSeparator />
        <ContextMenuItem>Save<ContextMenuShortcut>⌘S</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Save As...<ContextMenuShortcut>⇧⌘S</ContextMenuShortcut></ContextMenuItem>
    </ContextMenuContent>
</ContextMenu>")"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-shortcuts-trigger"
                                        data-testid="context-menu-shortcuts-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <ContextMenuItem>Back<ContextMenuShortcut>⌘[</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuItem>Forward<ContextMenuShortcut>⌘]</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuItem>Reload<ContextMenuShortcut>⌘R</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuSeparator />
                        <ContextMenuItem>Save<ContextMenuShortcut>⌘S</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuItem>Save As...<ContextMenuShortcut>⇧⌘S</ContextMenuShortcut></ContextMenuItem>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Groups"
                         Description="Group related actions and separate them with dividers."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@(@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-groups-trigger""
                        data-testid=""context-menu-groups-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <ContextMenuLabel>File</ContextMenuLabel>
        <ContextMenuItem>New File<ContextMenuShortcut>⌘N</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Open File<ContextMenuShortcut>⌘O</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Save<ContextMenuShortcut>⌘S</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuSeparator />
        <ContextMenuLabel>Edit</ContextMenuLabel>
        <ContextMenuItem>Undo<ContextMenuShortcut>⌘Z</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Redo<ContextMenuShortcut>⇧⌘Z</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuSeparator />
        <ContextMenuItem>Cut<ContextMenuShortcut>⌘X</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Copy<ContextMenuShortcut>⌘C</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuItem>Paste<ContextMenuShortcut>⌘V</ContextMenuShortcut></ContextMenuItem>
        <ContextMenuSeparator />
        <ContextMenuItem Variant=""destructive"">Delete<ContextMenuShortcut>⌫</ContextMenuShortcut></ContextMenuItem>
    </ContextMenuContent>
</ContextMenu>")"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-groups-trigger"
                                        data-testid="context-menu-groups-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <ContextMenuLabel>File</ContextMenuLabel>
                        <ContextMenuItem>New File<ContextMenuShortcut>⌘N</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuItem>Open File<ContextMenuShortcut>⌘O</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuItem>Save<ContextMenuShortcut>⌘S</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuSeparator />
                        <ContextMenuLabel>Edit</ContextMenuLabel>
                        <ContextMenuItem>Undo<ContextMenuShortcut>⌘Z</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuItem>Redo<ContextMenuShortcut>⇧⌘Z</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuSeparator />
                        <ContextMenuItem>Cut<ContextMenuShortcut>⌘X</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuItem>Copy<ContextMenuShortcut>⌘C</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuItem>Paste<ContextMenuShortcut>⌘V</ContextMenuShortcut></ContextMenuItem>
                        <ContextMenuSeparator />
                        <ContextMenuItem Variant="destructive">Delete<ContextMenuShortcut>⌫</ContextMenuShortcut></ContextMenuItem>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Icons"
                         Description="Combine icons with labels for quick scanning."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@(@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-icons-trigger""
                        data-testid=""context-menu-icons-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <ContextMenuItem><Icon Name=""LucideIcon.Copy"" />Copy</ContextMenuItem>
        <ContextMenuItem><Icon Name=""LucideIcon.Scissors"" />Cut</ContextMenuItem>
        <ContextMenuItem><Icon Name=""LucideIcon.Clipboard"" />Paste</ContextMenuItem>
        <ContextMenuSeparator />
        <ContextMenuItem Variant=""destructive""><Icon Name=""LucideIcon.Trash"" />Delete</ContextMenuItem>
    </ContextMenuContent>
</ContextMenu>")"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-icons-trigger"
                                        data-testid="context-menu-icons-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <ContextMenuItem><Icon Name="LucideIcon.Copy" />Copy</ContextMenuItem>
                        <ContextMenuItem><Icon Name="LucideIcon.Scissors" />Cut</ContextMenuItem>
                        <ContextMenuItem><Icon Name="LucideIcon.Clipboard" />Paste</ContextMenuItem>
                        <ContextMenuSeparator />
                        <ContextMenuItem Variant="destructive"><Icon Name="LucideIcon.Trash" />Delete</ContextMenuItem>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Checkboxes"
                         Description="Use ContextMenuCheckboxItem for toggles."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@CheckboxCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-checkbox-trigger"
                                        data-testid="context-menu-checkbox-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div Width='Width.Token("45")'>
                            <ContextMenuCheckboxItem @bind-Checked="_exampleShowBookmarks">
                                Show Bookmarks Bar
                            </ContextMenuCheckboxItem>
                            <ContextMenuCheckboxItem @bind-Checked="_exampleShowFullUrls">
                                Show Full URLs
                            </ContextMenuCheckboxItem>
                            <ContextMenuCheckboxItem @bind-Checked="_showDeveloperTools">
                                Show Developer Tools
                            </ContextMenuCheckboxItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Radio"
                         Description="Use ContextMenuRadioItem for exclusive choices."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@RadioCode"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-radio-trigger"
                                        data-testid="context-menu-radio-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div>
                            <ContextMenuLabel>People</ContextMenuLabel>
                            <ContextMenuRadioGroup>
                                <ContextMenuRadioItem Selected="@IsExamplePedroSelected" SelectedChanged="@(selected => OnExamplePersonSelected("pedro", selected))">
                                    Pedro Duarte
                                </ContextMenuRadioItem>
                                <ContextMenuRadioItem Selected="@IsExampleColmSelected" SelectedChanged="@(selected => OnExamplePersonSelected("colm", selected))">
                                    Colm Tuite
                                </ContextMenuRadioItem>
                            </ContextMenuRadioGroup>
                            <ContextMenuSeparator />
                            <ContextMenuLabel>Theme</ContextMenuLabel>
                            <ContextMenuRadioGroup>
                                <ContextMenuRadioItem Selected="@IsLightThemeSelected" SelectedChanged="@(selected => OnThemeSelected("light", selected))">
                                    Light
                                </ContextMenuRadioItem>
                                <ContextMenuRadioItem Selected="@IsDarkThemeSelected" SelectedChanged="@(selected => OnThemeSelected("dark", selected))">
                                    Dark
                                </ContextMenuRadioItem>
                                <ContextMenuRadioItem Selected="@IsSystemThemeSelected" SelectedChanged="@(selected => OnThemeSelected("system", selected))">
                                    System
                                </ContextMenuRadioItem>
                            </ContextMenuRadioGroup>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Destructive"
                         Description="Use variant=&quot;destructive&quot; to style the menu item as destructive."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@(@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-destructive-trigger""
                        data-testid=""context-menu-destructive-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <Div>
            <ContextMenuItem><Icon Name=""LucideIcon.Pencil"" />Edit</ContextMenuItem>
            <ContextMenuItem><Icon Name=""LucideIcon.Share"" />Share</ContextMenuItem>
            <ContextMenuSeparator />
            <ContextMenuItem Variant=""destructive""><Icon Name=""LucideIcon.Trash"" />Delete</ContextMenuItem>
        </Div>
    </ContextMenuContent>
</ContextMenu>")"
                         CodeLanguage="razor">
                <ContextMenu>
                    <ContextMenuTrigger Id="context-menu-destructive-trigger"
                                        data-testid="context-menu-destructive-trigger"
                                        Class="@ContextMenuTriggerClass">
                        @ContextMenuTriggerText
                    </ContextMenuTrigger>
                    <ContextMenuContent>
                        <Div>
                            <ContextMenuItem><Icon Name="LucideIcon.Pencil" />Edit</ContextMenuItem>
                            <ContextMenuItem><Icon Name="LucideIcon.Share" />Share</ContextMenuItem>
                            <ContextMenuSeparator />
                            <ContextMenuItem Variant="destructive"><Icon Name="LucideIcon.Trash" />Delete</ContextMenuItem>
                        </Div>
                    </ContextMenuContent>
                </ContextMenu>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="RTL"
                         Description="To enable RTL support in shadcn/ui, see the RTL configuration guide."
                         PreviewClass="@ContextMenuPreviewClass"
                         Code="@RtlCode"
                         CodeLanguage="razor">
                <DirectionProvider Dir="rtl">
                    <Div dir="rtl" Class="flex w-full justify-center">
                        <ContextMenu>
                            <ContextMenuTrigger Id="context-menu-rtl-trigger"
                                                data-testid="context-menu-rtl-trigger"
                                                Class="@ContextMenuTriggerClass">
                                @RtlContextMenuTriggerText
                            </ContextMenuTrigger>
                            <ContextMenuContent Width='Width.Token("48")'>
                                <Div>
                                    <ContextMenuSub>
                                        <ContextMenuSubTrigger>التنقل</ContextMenuSubTrigger>
                                        <ContextMenuSubContent Width='Width.Token("44")'>
                                            <ContextMenuItem>رجوع<ContextMenuShortcut>⌘[</ContextMenuShortcut></ContextMenuItem>
                                            <ContextMenuItem>تقدم<ContextMenuShortcut>⌘]</ContextMenuShortcut></ContextMenuItem>
                                            <ContextMenuItem>إعادة تحميل<ContextMenuShortcut>⌘R</ContextMenuShortcut></ContextMenuItem>
                                        </ContextMenuSubContent>
                                    </ContextMenuSub>
                                    <ContextMenuSub>
                                        <ContextMenuSubTrigger>المزيد من الأدوات</ContextMenuSubTrigger>
                                        <ContextMenuSubContent Width='Width.Token("44")'>
                                            <ContextMenuItem>حفظ الصفحة...</ContextMenuItem>
                                            <ContextMenuItem>إنشاء اختصار...</ContextMenuItem>
                                            <ContextMenuItem>تسمية النافذة...</ContextMenuItem>
                                            <ContextMenuSeparator />
                                            <ContextMenuItem>أدوات المطور</ContextMenuItem>
                                            <ContextMenuSeparator />
                                            <ContextMenuItem Variant="destructive">حذف</ContextMenuItem>
                                        </ContextMenuSubContent>
                                    </ContextMenuSub>
                                    <ContextMenuSeparator />
                                    <ContextMenuCheckboxItem @bind-Checked="_rtlShowBookmarks">إظهار الإشارات المرجعية</ContextMenuCheckboxItem>
                                    <ContextMenuCheckboxItem @bind-Checked="_rtlShowFullUrls">إظهار عناوين URL الكاملة</ContextMenuCheckboxItem>
                                    <ContextMenuSeparator />
                                    <ContextMenuRadioGroup>
                                        <ContextMenuLabel>الأشخاص</ContextMenuLabel>
                                        <ContextMenuRadioItem Selected="@IsRtlPedroSelected" SelectedChanged="@(selected => OnRtlPersonSelected("pedro", selected))">Pedro Duarte</ContextMenuRadioItem>
                                        <ContextMenuRadioItem Selected="@IsRtlColmSelected" SelectedChanged="@(selected => OnRtlPersonSelected("colm", selected))">Colm Tuite</ContextMenuRadioItem>
                                    </ContextMenuRadioGroup>
                                </Div>
                            </ContextMenuContent>
                        </ContextMenu>
                    </Div>
                </DirectionProvider>
            </DemoSection>
        </Section>

    </Div>
</Div>

@code {
    private const string ContextMenuPreviewClass =
        "preview relative flex min-h-72 w-full justify-center p-10 data-[align=center]:items-center data-[align=end]:items-end data-[align=start]:items-start data-[chromeless=true]:min-h-0 data-[chromeless=true]:p-0";

    private bool _showBookmarks = true;
    private bool _showFullUrls;
    private bool _showLineNumbers = true;
    private bool _exampleShowBookmarks;
    private bool _exampleShowFullUrls;
    private bool _showDeveloperTools;
    private bool _rtlShowBookmarks = true;
    private bool _rtlShowFullUrls;
    private string _selectedDensity = "comfortable";
    private string _selectedPerson = "pedro";
    private string _examplePerson = "pedro";
    private string _selectedTheme = "light";
    private string _rtlPerson = "pedro";
    private bool IsComfortableSelected => _selectedDensity == "comfortable";
    private bool IsCompactSelected => _selectedDensity == "compact";
    private bool IsPedroSelected => _selectedPerson == "pedro";
    private bool IsColmSelected => _selectedPerson == "colm";
    private bool IsExamplePedroSelected => _examplePerson == "pedro";
    private bool IsExampleColmSelected => _examplePerson == "colm";
    private bool IsLightThemeSelected => _selectedTheme == "light";
    private bool IsDarkThemeSelected => _selectedTheme == "dark";
    private bool IsSystemThemeSelected => _selectedTheme == "system";
    private bool IsRtlPedroSelected => _rtlPerson == "pedro";
    private bool IsRtlColmSelected => _rtlPerson == "colm";
    private const string ContextMenuTriggerClass = "select-none flex aspect-video w-full max-w-xs items-center justify-center rounded-xl border border-dashed text-sm";

    private RenderFragment ContextMenuTriggerText => builder =>
    {
        builder.OpenElement(0, "span");
        builder.AddAttribute(1, "class", "hidden pointer-fine:inline-block");
        builder.AddContent(2, "Right click here");
        builder.CloseElement();
        builder.OpenElement(3, "span");
        builder.AddAttribute(4, "class", "hidden pointer-coarse:inline-block");
        builder.AddContent(5, "Long press here");
        builder.CloseElement();
    };

    private RenderFragment RtlContextMenuTriggerText => builder =>
    {
        builder.OpenElement(0, "span");
        builder.AddAttribute(1, "class", "hidden pointer-fine:inline-block");
        builder.AddContent(2, "انقر بزر الماوس الأيمن هنا");
        builder.CloseElement();
        builder.OpenElement(3, "span");
        builder.AddAttribute(4, "class", "hidden pointer-coarse:inline-block");
        builder.AddContent(5, "اضغط مطولاً هنا");
        builder.CloseElement();
    };

    private void OnDensitySelected(string density, bool selected)
    {
        if (selected)
            _selectedDensity = density;
    }

    private void OnPersonSelected(string person, bool selected)
    {
        if (selected)
            _selectedPerson = person;
    }

    private void OnExamplePersonSelected(string person, bool selected)
    {
        if (selected)
            _examplePerson = person;
    }

    private void OnThemeSelected(string theme, bool selected)
    {
        if (selected)
            _selectedTheme = theme;
    }

    private void OnRtlPersonSelected(string person, bool selected)
    {
        if (selected)
            _rtlPerson = person;
    }

    private const string BasicCode =
@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-overview-trigger""
                        data-testid=""context-menu-overview-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <ContextMenuGroup>
            <ContextMenuItem>
                Back
                <ContextMenuShortcut>⌘[</ContextMenuShortcut>
            </ContextMenuItem>
            <ContextMenuItem Disabled=""true"">
                Forward
                <ContextMenuShortcut>⌘]</ContextMenuShortcut>
            </ContextMenuItem>
            <ContextMenuItem>
                Reload
                <ContextMenuShortcut>⌘R</ContextMenuShortcut>
            </ContextMenuItem>
            <ContextMenuSub>
                <ContextMenuSubTrigger>More Tools</ContextMenuSubTrigger>
                <ContextMenuSubContent Width='Width.Token(""44"")'>
                    <ContextMenuItem>Save Page...</ContextMenuItem>
                    <ContextMenuItem>Create Shortcut...</ContextMenuItem>
                    <ContextMenuItem>Name Window...</ContextMenuItem>
                    <ContextMenuSeparator />
                    <ContextMenuItem>Developer Tools</ContextMenuItem>
                    <ContextMenuSeparator />
                    <ContextMenuItem Variant=""destructive"">Delete</ContextMenuItem>
                </ContextMenuSubContent>
            </ContextMenuSub>
        </ContextMenuGroup>
        <ContextMenuSeparator />
        <ContextMenuGroup>
            <ContextMenuCheckboxItem @bind-Checked=""_showBookmarks"">
                Show Bookmarks
            </ContextMenuCheckboxItem>
            <ContextMenuCheckboxItem @bind-Checked=""_showFullUrls"">
                Show Full URLs
            </ContextMenuCheckboxItem>
        </ContextMenuGroup>
        <ContextMenuSeparator />
        <ContextMenuGroup>
            <ContextMenuRadioGroup>
                <ContextMenuLabel>People</ContextMenuLabel>
                <ContextMenuRadioItem Selected=""@IsPedroSelected"" SelectedChanged=""@(selected => OnPersonSelected(""pedro"", selected))"">
                    Pedro Duarte
                </ContextMenuRadioItem>
                <ContextMenuRadioItem Selected=""@IsColmSelected"" SelectedChanged=""@(selected => OnPersonSelected(""colm"", selected))"">
                    Colm Tuite
                </ContextMenuRadioItem>
            </ContextMenuRadioGroup>
        </ContextMenuGroup>
    </ContextMenuContent>
</ContextMenu>";

    private const string BasicSimpleCode =
@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-demo-trigger""
                        data-testid=""context-menu-demo-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <ContextMenuItem>Back</ContextMenuItem>
        <ContextMenuItem Disabled=""true"">Forward</ContextMenuItem>
        <ContextMenuItem>Reload</ContextMenuItem>
    </ContextMenuContent>
</ContextMenu>";

    private const string SubmenuCode =
@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-submenu-trigger""
                        data-testid=""context-menu-submenu-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <Div>
            <ContextMenuItem>
                Copy
                <ContextMenuShortcut>⌘C</ContextMenuShortcut>
            </ContextMenuItem>
            <ContextMenuItem>
                Cut
                <ContextMenuShortcut>⌘X</ContextMenuShortcut>
            </ContextMenuItem>
            <ContextMenuSub>
                <ContextMenuSubTrigger>More Tools</ContextMenuSubTrigger>
                <ContextMenuSubContent>
                    <ContextMenuItem>Save Page...</ContextMenuItem>
                    <ContextMenuItem>Create Shortcut...</ContextMenuItem>
                    <ContextMenuItem>Name Window...</ContextMenuItem>
                    <ContextMenuSeparator />
                    <ContextMenuItem>Developer Tools</ContextMenuItem>
                    <ContextMenuSeparator />
                    <ContextMenuItem Variant=""destructive"">Delete</ContextMenuItem>
                </ContextMenuSubContent>
            </ContextMenuSub>
        </Div>
    </ContextMenuContent>
</ContextMenu>";

    private const string CheckboxCode =
@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-checkbox-trigger""
                        data-testid=""context-menu-checkbox-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <Div Width='Width.Token(""45"")'>
            <ContextMenuCheckboxItem @bind-Checked=""_exampleShowBookmarks"">
                Show Bookmarks Bar
            </ContextMenuCheckboxItem>
            <ContextMenuCheckboxItem @bind-Checked=""_exampleShowFullUrls"">
                Show Full URLs
            </ContextMenuCheckboxItem>
            <ContextMenuCheckboxItem @bind-Checked=""_showDeveloperTools"">
                Show Developer Tools
            </ContextMenuCheckboxItem>
        </Div>
    </ContextMenuContent>
</ContextMenu>";

    private const string RadioCode =
@"<ContextMenu>
    <ContextMenuTrigger Id=""context-menu-radio-trigger""
                        data-testid=""context-menu-radio-trigger""
                        Class=""@ContextMenuTriggerClass"">
        @ContextMenuTriggerText
    </ContextMenuTrigger>
    <ContextMenuContent>
        <Div>
            <ContextMenuLabel>People</ContextMenuLabel>
            <ContextMenuRadioGroup>
                <ContextMenuRadioItem Selected=""@IsExamplePedroSelected"" SelectedChanged=""@(selected => OnExamplePersonSelected(""pedro"", selected))"">
                    Pedro Duarte
                </ContextMenuRadioItem>
                <ContextMenuRadioItem Selected=""@IsExampleColmSelected"" SelectedChanged=""@(selected => OnExamplePersonSelected(""colm"", selected))"">
                    Colm Tuite
                </ContextMenuRadioItem>
            </ContextMenuRadioGroup>
            <ContextMenuSeparator />
            <ContextMenuLabel>Theme</ContextMenuLabel>
            <ContextMenuRadioGroup>
                <ContextMenuRadioItem Selected=""@IsLightThemeSelected"" SelectedChanged=""@(selected => OnThemeSelected(""light"", selected))"">
                    Light
                </ContextMenuRadioItem>
                <ContextMenuRadioItem Selected=""@IsDarkThemeSelected"" SelectedChanged=""@(selected => OnThemeSelected(""dark"", selected))"">
                    Dark
                </ContextMenuRadioItem>
                <ContextMenuRadioItem Selected=""@IsSystemThemeSelected"" SelectedChanged=""@(selected => OnThemeSelected(""system"", selected))"">
                    System
                </ContextMenuRadioItem>
            </ContextMenuRadioGroup>
        </Div>
    </ContextMenuContent>
</ContextMenu>";

    private const string RtlCode =
@"<DirectionProvider Dir=""rtl"">
    <Div dir=""rtl"" Class=""flex w-full justify-center"">
        <ContextMenu>
            <ContextMenuTrigger Id=""context-menu-rtl-trigger""
                                data-testid=""context-menu-rtl-trigger""
                                Class=""@ContextMenuTriggerClass"">
                @RtlContextMenuTriggerText
            </ContextMenuTrigger>
            <ContextMenuContent Width='Width.Token(""48"")'>
                <Div>
                    <ContextMenuSub>
                        <ContextMenuSubTrigger>التنقل</ContextMenuSubTrigger>
                        <ContextMenuSubContent Width='Width.Token(""44"")'>
                            <ContextMenuItem>رجوع<ContextMenuShortcut>⌘[</ContextMenuShortcut></ContextMenuItem>
                            <ContextMenuItem>تقدم<ContextMenuShortcut>⌘]</ContextMenuShortcut></ContextMenuItem>
                            <ContextMenuItem>إعادة تحميل<ContextMenuShortcut>⌘R</ContextMenuShortcut></ContextMenuItem>
                        </ContextMenuSubContent>
                    </ContextMenuSub>
                    <ContextMenuSub>
                        <ContextMenuSubTrigger>المزيد من الأدوات</ContextMenuSubTrigger>
                        <ContextMenuSubContent Width='Width.Token(""44"")'>
                            <ContextMenuItem>حفظ الصفحة...</ContextMenuItem>
                            <ContextMenuItem>إنشاء اختصار...</ContextMenuItem>
                            <ContextMenuItem>تسمية النافذة...</ContextMenuItem>
                            <ContextMenuSeparator />
                            <ContextMenuItem>أدوات المطور</ContextMenuItem>
                            <ContextMenuSeparator />
                            <ContextMenuItem Variant=""destructive"">حذف</ContextMenuItem>
                        </ContextMenuSubContent>
                    </ContextMenuSub>
                    <ContextMenuSeparator />
                    <ContextMenuCheckboxItem @bind-Checked=""_rtlShowBookmarks"">إظهار الإشارات المرجعية</ContextMenuCheckboxItem>
                    <ContextMenuCheckboxItem @bind-Checked=""_rtlShowFullUrls"">إظهار عناوين URL الكاملة</ContextMenuCheckboxItem>
                    <ContextMenuSeparator />
                    <ContextMenuRadioGroup>
                        <ContextMenuLabel>الأشخاص</ContextMenuLabel>
                        <ContextMenuRadioItem Selected=""@IsRtlPedroSelected"" SelectedChanged=""@(selected => OnRtlPersonSelected(""pedro"", selected))"">Pedro Duarte</ContextMenuRadioItem>
                        <ContextMenuRadioItem Selected=""@IsRtlColmSelected"" SelectedChanged=""@(selected => OnRtlPersonSelected(""colm"", selected))"">Colm Tuite</ContextMenuRadioItem>
                    </ContextMenuRadioGroup>
                </Div>
            </ContextMenuContent>
        </ContextMenu>
    </Div>
</DirectionProvider>";

}
