@page "/input-groups"

<PageTitle>Input Group - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Section Space="Space.Y.Is4">
            <DemoSection
                Description="Add addons, buttons, and helper content to inputs."
                Code="@BasicCode"
                CodeLanguage="razor">
                <InputGroup Class="max-w-xs">
                    <InputGroupInput @bind-Value="_search" Placeholder="Search..." />
                    <InputGroupAddon>
                        <Icon Name="LucideIcon.Search" />
                    </InputGroupAddon>
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">12 results</InputGroupAddon>
                </InputGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="inline-start"
                Description="Use align=&quot;inline-start&quot; to position the addon at the start of the input."
                Code="@InlineStartCode"
                CodeLanguage="razor">
                <Field MaxWidth="MaxWidth.IsSm">
                    <FieldLabel For="inline-start-input">Input</FieldLabel>
                    <InputGroup>
                        <InputGroupInput Id="inline-start-input" @bind-Value="_search" Placeholder="Search..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.Search" />
                        </InputGroupAddon>
                    </InputGroup>
                    <FieldDescription>Icon positioned at the start.</FieldDescription>
                </Field>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="inline-end"
                Description="Use align=&quot;inline-end&quot; to position the addon at the end of the input."
                Code="@InlineEndCode"
                CodeLanguage="razor">
                <Field MaxWidth="MaxWidth.IsSm">
                    <FieldLabel For="inline-end-input">Input</FieldLabel>
                    <InputGroup>
                        <InputGroupInput Id="inline-end-input" @bind-Value="_password" Placeholder="Enter password" Type="InputType.Password" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Icon Name="LucideIcon.EyeOff" />
                        </InputGroupAddon>
                    </InputGroup>
                    <FieldDescription>Icon positioned at the end.</FieldDescription>
                </Field>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="block-start"
                Description="Use align=&quot;block-start&quot; to position the addon above the input."
                Code="@BlockStartCode"
                CodeLanguage="razor">
                <FieldGroup Class="w-full">
                    <Field>
                        <FieldLabel For="block-start-input">Input</FieldLabel>
                        <InputGroup>
                            <InputGroupInput Id="block-start-input" @bind-Value="_fullName" Placeholder="Enter your name" />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockStart">
                                <InputGroupText>Full Name</InputGroupText>
                            </InputGroupAddon>
                        </InputGroup>
                        <FieldDescription>Header positioned above the input.</FieldDescription>
                    </Field>

                    <Field>
                        <FieldLabel For="block-start-textarea">Textarea</FieldLabel>
                        <InputGroup>
                            <InputGroupTextarea Id="block-start-textarea" @bind-Value="_script" Rows="5" Placeholder="console.log('Hello, world!');" Class="font-mono text-sm" />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockStart">
                                <Icon Name="LucideIcon.FileCode" />
                                <InputGroupText>script.js</InputGroupText>
                                <InputGroupButton Class="ml-auto">
                                    <Icon Name="LucideIcon.Copy" />
                                    Copy
                                </InputGroupButton>
                            </InputGroupAddon>
                        </InputGroup>
                        <FieldDescription>Header positioned above the textarea.</FieldDescription>
                    </Field>
                </FieldGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="block-end"
                Description="Use align=&quot;block-end&quot; to position the addon below the input."
                Code="@BlockEndCode"
                CodeLanguage="razor">
                <FieldGroup Class="w-full">
                    <Field>
                        <FieldLabel For="block-end-input">Input</FieldLabel>
                        <InputGroup>
                            <InputGroupInput Id="block-end-input" @bind-Value="_amount" Placeholder="Enter amount" />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                                <InputGroupText>USD</InputGroupText>
                            </InputGroupAddon>
                        </InputGroup>
                        <FieldDescription>Footer positioned below the input.</FieldDescription>
                    </Field>

                    <Field>
                        <FieldLabel For="block-end-textarea">Textarea</FieldLabel>
                        <InputGroup>
                            <InputGroupTextarea Id="block-end-textarea" @bind-Value="_feedback" Rows="4" Placeholder="Write a comment..." />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                                <InputGroupText>0/280</InputGroupText>
                                <InputGroupButton Class="ml-auto">Post</InputGroupButton>
                            </InputGroupAddon>
                        </InputGroup>
                        <FieldDescription>Footer positioned below the textarea.</FieldDescription>
                    </Field>
                </FieldGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Icon"
                Code="@IconCode"
                CodeLanguage="razor">
                <Div Class="grid w-full max-w-sm gap-2">
                    <InputGroup>
                        <InputGroupInput @bind-Value="_iconSearch" Placeholder="Search..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.Search" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_email" Placeholder="Enter your email" Type="InputType.Email" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.Mail" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_card" Placeholder="Card number" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.CreditCard" />
                        </InputGroupAddon>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Icon Name="LucideIcon.Check" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_cardAlt" Placeholder="Card number" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.CreditCard" />
                        </InputGroupAddon>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupButton Size="ButtonSize.IconXs" aria-label="Favorite">
                                <Icon Name="LucideIcon.Star" />
                            </InputGroupButton>
                            <InputGroupButton Size="ButtonSize.IconXs" aria-label="Info">
                                <Icon Name="LucideIcon.Info" />
                            </InputGroupButton>
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Text"
                Code="@TextCode"
                CodeLanguage="razor">
                <Div Class="grid w-full max-w-sm gap-2">
                    <InputGroup>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <InputGroupText>$</InputGroupText>
                        </InputGroupAddon>
                        <InputGroupInput @bind-Value="_price" Placeholder="0.00" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>USD</InputGroupText>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <InputGroupText>https://</InputGroupText>
                        </InputGroupAddon>
                        <InputGroupInput @bind-Value="_domain" Placeholder="example.com" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>.com</InputGroupText>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_username" Placeholder="Enter your username" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>@("@company.com")</InputGroupText>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_message" Placeholder="Enter your message" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>120 characters left</InputGroupText>
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Button"
                Code="@ButtonCode"
                CodeLanguage="razor">
                <Div Class="grid w-full max-w-sm gap-2">
                    <InputGroup>
                        <InputGroupInput @bind-Value="_url" Placeholder="https://x.com/shadcn" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupButton>
                                <Icon Name="LucideIcon.Copy" />
                                Copy
                            </InputGroupButton>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <InputGroupText>https://</InputGroupText>
                        </InputGroupAddon>
                        <InputGroupInput @bind-Value="_shortUrl" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupButton Size="ButtonSize.IconXs" aria-label="Copy">
                                <Icon Name="LucideIcon.Copy" />
                            </InputGroupButton>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_query" Placeholder="Type to search..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupButton>Search</InputGroupButton>
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Kbd"
                Code="@KbdCode"
                CodeLanguage="razor">
                <InputGroup Class="max-w-sm">
                    <InputGroupInput @bind-Value="_command" Placeholder="Search..." />
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                        <Icon Name="LucideIcon.Search" />
                    </InputGroupAddon>
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                        <KbdGroup>
                            <Kbd>⌘</Kbd>
                            <Kbd>K</Kbd>
                        </KbdGroup>
                    </InputGroupAddon>
                </InputGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Dropdown"
                Code="@DropdownCode"
                CodeLanguage="razor">
                <Div Class="grid w-full max-w-sm gap-2">
                    <InputGroup>
                        <InputGroupInput @bind-Value="_fileName" Placeholder="Enter file name" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Dropdown>
                                <DropdownToggle AsChild="true">
                                    <InputGroupButton Size="ButtonSize.IconXs" aria-label="More">
                                        <Icon Name="LucideIcon.Ellipsis" />
                                    </InputGroupButton>
                                </DropdownToggle>
                                <DropdownMenu>
                                    <DropdownItem>Rename</DropdownItem>
                                    <DropdownItem>Duplicate</DropdownItem>
                                    <DropdownItem>Delete</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_searchQuery" Placeholder="Enter search query" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Dropdown>
                                <DropdownToggle AsChild="true">
                                    <InputGroupButton>
                                        Search In...
                                        <Icon Name="LucideIcon.ChevronDown" />
                                    </InputGroupButton>
                                </DropdownToggle>
                                <DropdownMenu>
                                    <DropdownItem>Documentation</DropdownItem>
                                    <DropdownItem>Components</DropdownItem>
                                    <DropdownItem>Examples</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Spinner"
                Code="@SpinnerCode"
                CodeLanguage="razor">
                <Div Class="grid w-full max-w-sm gap-2">
                    <InputGroup>
                        <InputGroupInput @bind-Value="_spinnerSearch" Placeholder="Searching..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Spinner BoxSize="Size.Is3" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_processing" Placeholder="Processing..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Spinner BoxSize="Size.Is3" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_saving" Placeholder="Saving changes..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>Saving...</InputGroupText>
                            <Spinner BoxSize="Size.Is3" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_refreshing" Placeholder="Refreshing data..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>Please wait...</InputGroupText>
                            <Spinner BoxSize="Size.Is3" />
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Textarea"
                Code="@TextareaCode"
                CodeLanguage="razor">
                <InputGroup>
                    <InputGroupTextarea @bind-Value="_script" Rows="6" Placeholder="console.log('Hello, world!');" Class="font-mono text-sm" />
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                        <InputGroupText>Line 1, Column 1</InputGroupText>
                        <InputGroupButton Class="ml-auto">Run</InputGroupButton>
                        <InputGroupText>script.js</InputGroupText>
                        <InputGroupButton Size="ButtonSize.IconXs" aria-label="Copy">
                            <Icon Name="LucideIcon.Copy" />
                        </InputGroupButton>
                        <InputGroupButton Size="ButtonSize.IconXs" aria-label="More">
                            <Icon Name="LucideIcon.Ellipsis" />
                        </InputGroupButton>
                    </InputGroupAddon>
                </InputGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Custom Input"
                Description="Add the data-slot=&quot;input-group-control&quot; attribute to your custom input for automatic focus state handling."
                Code="@CustomCode"
                CodeLanguage="razor">
                <InputGroup>
                    <TextArea data-slot="input-group-control"
                              Placeholder="Autoresize textarea..."
                              Rows="4"
                              Width="Width.IsFull"
                              Border="Border.Is0"
                              BackgroundColor="BackgroundColor.Transparent"
                              Padding='Padding.Token("2.5").OnX.Is2.OnY'
                              TextSize="TextSize.Sm"
                              Class="resize-y min-h-24 flex-1 rounded-none shadow-none ring-0 focus-visible:ring-0 dark:bg-transparent" />
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                        <InputGroupButton Class="ml-auto">Submit</InputGroupButton>
                    </InputGroupAddon>
                </InputGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="RTL"
                Description="To enable RTL support in shadcn/ui, see the RTL configuration guide."
                Code="@RtlCode"
                ShowPreviewToolbar="true"
                PreviewLang="ar"
                PreviewDir="rtl"
                CodeLanguage="razor">
                <DirectionProvider Dir="rtl">
                    <Div Width="Width.IsFull" TextAlign="TextAlign.End" Class="grid gap-2">
                        <InputGroup>
                            <InputGroupInput @bind-Value="_rtlValue" Placeholder="بحث..." />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                                <Icon Name="LucideIcon.Search" />
                            </InputGroupAddon>
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">١٢ نتيجة</InputGroupAddon>
                        </InputGroup>

                        <InputGroup>
                            <InputGroupInput @bind-Value="_rtlSaving" Placeholder="جاري حفظ التغييرات..." />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                                <InputGroupText>جاري الحفظ...</InputGroupText>
                                <Spinner BoxSize="Size.Is3" />
                            </InputGroupAddon>
                        </InputGroup>

                        <InputGroup>
                            <InputGroupTextarea @bind-Value="_rtlTextarea" Rows="4" Placeholder="اكتب تعليقًا..." />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockStart">
                                <InputGroupText>منطقة النص</InputGroupText>
                            </InputGroupAddon>
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                                <InputGroupText>٠/٢٨٠</InputGroupText>
                                <InputGroupButton Class="mr-auto">نشر</InputGroupButton>
                            </InputGroupAddon>
                        </InputGroup>
                    </Div>
                </DirectionProvider>
            </DemoSection>
        </Section>
    </Div>
</Div>

@code {
    private const string BasicCode =
@"<InputGroup Class=""max-w-xs"">
    <InputGroupInput Placeholder=""Search..."" />
    <InputGroupAddon><Icon Name=""LucideIcon.Search"" /></InputGroupAddon>
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">12 results</InputGroupAddon>
</InputGroup>";

    private const string BasicDocsCode =
@"<FieldGroup>
    <Field>
        <FieldLabel For=""input-default-01"">Default (No Input Group)</FieldLabel>
        <Input Id=""input-default-01"" Placeholder=""Placeholder"" />
    </Field>
    <Field>
        <FieldLabel For=""input-group-02"">Input Group</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""input-group-02"" Placeholder=""Placeholder"" />
        </InputGroup>
    </Field>
    <Field Disabled=""true"">
        <FieldLabel For=""input-disabled-03"">Disabled</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""input-disabled-03"" Placeholder=""This field is disabled"" Disabled=""true"" />
        </InputGroup>
    </Field>
    <Field IsInvalid=""true"">
        <FieldLabel For=""input-invalid-04"">Invalid</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""input-invalid-04"" Placeholder=""This field is invalid"" aria-invalid=""true"" />
        </InputGroup>
    </Field>
</FieldGroup>";

    private const string AddonsDocsCode =
@"<InputGroup>
    <InputGroupInput Id=""input-icon-both-09"" />
    <InputGroupAddon><Icon Name=""LucideIcon.Mic"" /></InputGroupAddon>
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <Icon Name=""LucideIcon.Radio"" Class=""animate-pulse text-red-500"" />
    </InputGroupAddon>
</InputGroup>";

    private const string ButtonsDocsCode =
@"<InputGroup>
    <InputGroupInput Id=""input-button-13"" />
    <InputGroupAddon>
        <InputGroupButton>Default</InputGroupButton>
    </InputGroupAddon>
</InputGroup>";

    private const string InlineStartCode =
@"<Field MaxWidth=""MaxWidth.IsSm"">
    <FieldLabel For=""inline-start-input"">Input</FieldLabel>
    <InputGroup>
        <InputGroupInput Id=""inline-start-input"" Placeholder=""Search..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <Icon Name=""LucideIcon.Search"" />
        </InputGroupAddon>
    </InputGroup>
    <FieldDescription>Icon positioned at the start.</FieldDescription>
</Field>";

    private const string InlineEndCode =
@"<Field MaxWidth=""MaxWidth.IsSm"">
    <FieldLabel For=""inline-end-input"">Input</FieldLabel>
    <InputGroup>
        <InputGroupInput Id=""inline-end-input"" Placeholder=""Enter password"" Type=""InputType.Password"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <Icon Name=""LucideIcon.EyeOff"" />
        </InputGroupAddon>
    </InputGroup>
    <FieldDescription>Icon positioned at the end.</FieldDescription>
</Field>";

    private const string BlockStartCode =
@"<FieldGroup>
    <Field>
        <FieldLabel For=""block-start-input"">Input</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""block-start-input"" Placeholder=""Enter your name"" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockStart"">
                <InputGroupText>Full Name</InputGroupText>
            </InputGroupAddon>
        </InputGroup>
        <FieldDescription>Header positioned above the input.</FieldDescription>
    </Field>
    <Field>
        <FieldLabel For=""block-start-textarea"">Textarea</FieldLabel>
        <InputGroup>
            <InputGroupTextarea Id=""block-start-textarea"" Placeholder=""console.log('Hello, world!');"" Class=""font-mono text-sm"" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockStart"">
                <Icon Name=""LucideIcon.FileCode"" />
                <InputGroupText>script.js</InputGroupText>
                <InputGroupButton Class=""ml-auto""><Icon Name=""LucideIcon.Copy"" />Copy</InputGroupButton>
            </InputGroupAddon>
        </InputGroup>
        <FieldDescription>Header positioned above the textarea.</FieldDescription>
    </Field>
</FieldGroup>";

    private const string BlockEndCode =
@"<FieldGroup>
    <Field>
        <FieldLabel For=""block-end-input"">Input</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""block-end-input"" Placeholder=""Enter amount"" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
                <InputGroupText>USD</InputGroupText>
            </InputGroupAddon>
        </InputGroup>
        <FieldDescription>Footer positioned below the input.</FieldDescription>
    </Field>
    <Field>
        <FieldLabel For=""block-end-textarea"">Textarea</FieldLabel>
        <InputGroup>
            <InputGroupTextarea Id=""block-end-textarea"" Placeholder=""Write a comment..."" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
                <InputGroupText>0/280</InputGroupText>
                <InputGroupButton Class=""ml-auto"">Post</InputGroupButton>
            </InputGroupAddon>
        </InputGroup>
        <FieldDescription>Footer positioned below the textarea.</FieldDescription>
    </Field>
</FieldGroup>";

    private const string IconCode =
@"<InputGroup>
    <InputGroupInput Placeholder=""Card number"" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
        <Icon Name=""LucideIcon.CreditCard"" />
    </InputGroupAddon>
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <Icon Name=""LucideIcon.Check"" />
    </InputGroupAddon>
</InputGroup>";

    private const string TextCode =
@"<InputGroup>
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
        <InputGroupText>$</InputGroupText>
    </InputGroupAddon>
    <InputGroupInput Placeholder=""0.00"" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <InputGroupText>USD</InputGroupText>
    </InputGroupAddon>
</InputGroup>";

    private const string ButtonCode =
@"<InputGroup>
    <InputGroupInput Placeholder=""Type to search..."" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <InputGroupButton>Search</InputGroupButton>
    </InputGroupAddon>
</InputGroup>";

    private const string KbdCode =
@"<InputGroup>
    <InputGroupInput Placeholder=""Search..."" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
        <Icon Name=""LucideIcon.Search"" />
    </InputGroupAddon>
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <KbdGroup><Kbd>⌘</Kbd><Kbd>K</Kbd></KbdGroup>
    </InputGroupAddon>
</InputGroup>";

    private const string DropdownCode =
@"<InputGroup>
    <InputGroupInput Placeholder=""Enter search query"" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <Dropdown>
            <DropdownToggle AsChild=""true"">
                <InputGroupButton>Search In...<Icon Name=""LucideIcon.ChevronDown"" /></InputGroupButton>
            </DropdownToggle>
            <DropdownMenu>
                <DropdownItem>Documentation</DropdownItem>
                <DropdownItem>Components</DropdownItem>
                <DropdownItem>Examples</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </InputGroupAddon>
</InputGroup>";

    private const string SpinnerCode =
@"<InputGroup>
    <InputGroupInput Placeholder=""Saving changes..."" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <InputGroupText>Saving...</InputGroupText>
        <Spinner BoxSize=""Size.Is3"" />
    </InputGroupAddon>
</InputGroup>";

    private const string TextareaCode =
@"<InputGroup>
    <InputGroupTextarea Placeholder=""console.log('Hello, world!');"" Class=""font-mono text-sm"" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
        <InputGroupText>Line 1, Column 1</InputGroupText>
        <InputGroupButton Class=""ml-auto"">Run</InputGroupButton>
    </InputGroupAddon>
</InputGroup>";

    private const string CustomCode =
@"<InputGroup>
    <TextArea data-slot=""input-group-control"" Placeholder=""Autoresize textarea..."" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
        <InputGroupButton Class=""ml-auto"">Submit</InputGroupButton>
    </InputGroupAddon>
</InputGroup>";

    private const string RtlCode =
@"<DirectionProvider Dir=""rtl"">
    <InputGroup>
        <InputGroupInput Placeholder=""بحث..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart""><Icon Name=""LucideIcon.Search"" /></InputGroupAddon>
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">١٢ نتيجة</InputGroupAddon>
    </InputGroup>
</DirectionProvider>";

    private string? _search;
    private string? _password;
    private string? _fullName;
    private string? _script;
    private string? _amount;
    private string? _feedback;
    private string? _iconSearch;
    private string? _email;
    private string? _card;
    private string? _cardAlt;
    private string? _price;
    private string? _domain;
    private string? _username;
    private string? _message;
    private string? _url;
    private string? _shortUrl;
    private string? _query;
    private string? _command;
    private string? _fileName;
    private string? _searchQuery;
    private string? _spinnerSearch;
    private string? _processing;
    private string? _saving;
    private string? _refreshing;
    private string? _rtlValue;
    private string? _rtlSaving;
    private string? _rtlTextarea;
}
