@page "/components/input-group"

<PageTitle>Input Group - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Section Space="Space.Y.Is4">
            <DemoSection
                Description="Add addons, buttons, and helper content to inputs."
                Code="@BasicCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupOverviewPreviewClass">
                <InputGroup MaxWidth="MaxWidth.IsXs">
                    <InputGroupInput @bind-Value="_search" Placeholder="Search..." />
                    <InputGroupAddon>
                        <Icon Name="LucideIcon.Search" />
                    </InputGroupAddon>
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">12 results</InputGroupAddon>
                </InputGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="inline-start"
                Description="Use align=&quot;inline-start&quot; to position the addon at the start of the input."
                Code="@InlineStartCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupInlinePreviewClass">
                <Field MaxWidth="MaxWidth.IsSm">
                    <FieldLabel For="inline-start-input">Input</FieldLabel>
                    <InputGroup>
                        <InputGroupInput Id="inline-start-input" @bind-Value="_search" Placeholder="Search..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.Search" />
                        </InputGroupAddon>
                    </InputGroup>
                    <FieldDescription>Icon positioned at the start.</FieldDescription>
                </Field>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="inline-end"
                Description="Use align=&quot;inline-end&quot; to position the addon at the end of the input."
                Code="@InlineEndCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupInlinePreviewClass">
                <Field MaxWidth="MaxWidth.IsSm">
                    <FieldLabel For="inline-end-input">Input</FieldLabel>
                    <InputGroup>
                        <InputGroupInput Id="inline-end-input" @bind-Value="_password" Placeholder="Enter password" Type="password" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Icon Name="LucideIcon.EyeOff" />
                        </InputGroupAddon>
                    </InputGroup>
                    <FieldDescription>Icon positioned at the end.</FieldDescription>
                </Field>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="block-start"
                Description="Use align=&quot;block-start&quot; to position the addon above the input."
                Code="@BlockStartCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupBlockStartPreviewClass">
                <FieldGroup Width="Width.IsFull">
                    <Field>
                        <FieldLabel For="block-start-input">Input</FieldLabel>
                        <InputGroup>
                            <InputGroupInput Id="block-start-input" @bind-Value="_fullName" Placeholder="Enter your name" />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockStart">
                                <InputGroupText>Full Name</InputGroupText>
                            </InputGroupAddon>
                        </InputGroup>
                        <FieldDescription>Header positioned above the input.</FieldDescription>
                    </Field>

                    <Field>
                        <FieldLabel For="block-start-textarea">Textarea</FieldLabel>
                        <InputGroup>
                            <InputGroupTextarea Id="block-start-textarea" @bind-Value="_script" Rows="5" Placeholder="console.log('Hello, world!');" FontFamily="FontFamily.Mono" TextSize="TextSize.Sm" />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockStart">
                                <Icon Name="LucideIcon.FileCode" />
                                <InputGroupText>script.js</InputGroupText>
                                <InputGroupButton ButtonSize="ButtonSize.IconXs" Variant="ButtonVariant.Ghost" Margin="Margin.FromLeft.Auto" AriaLabel="Copy">
                                    <Icon Name="LucideIcon.Copy" />
                                </InputGroupButton>
                            </InputGroupAddon>
                        </InputGroup>
                        <FieldDescription>Header positioned above the textarea.</FieldDescription>
                    </Field>
                </FieldGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="block-end"
                Description="Use align=&quot;block-end&quot; to position the addon below the input."
                Code="@BlockEndCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupBlockEndPreviewClass">
                <FieldGroup Width="Width.IsFull">
                    <Field>
                        <FieldLabel For="block-end-input">Input</FieldLabel>
                        <InputGroup>
                            <InputGroupInput Id="block-end-input" @bind-Value="_amount" Placeholder="Enter amount" />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                                <InputGroupText>USD</InputGroupText>
                            </InputGroupAddon>
                        </InputGroup>
                        <FieldDescription>Footer positioned below the input.</FieldDescription>
                    </Field>

                    <Field>
                        <FieldLabel For="block-end-textarea">Textarea</FieldLabel>
                        <InputGroup>
                            <InputGroupTextarea Id="block-end-textarea" @bind-Value="_feedback" Rows="4" Placeholder="Write a comment..." />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                                <InputGroupText>0/280</InputGroupText>
                                <InputGroupButton Margin="Margin.FromLeft.Auto">Post</InputGroupButton>
                            </InputGroupAddon>
                        </InputGroup>
                        <FieldDescription>Footer positioned below the textarea.</FieldDescription>
                    </Field>
                </FieldGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Icon"
                Code="@IconCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupStackPreviewClass">
                <Div Display="Display.Grid" Width="Width.IsFull" MaxWidth="MaxWidth.IsSm" Gap="Gap.Is2">
                    <InputGroup>
                        <InputGroupInput @bind-Value="_iconSearch" Placeholder="Search..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.Search" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_email" Placeholder="Enter your email" Type="email" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.Mail" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_card" Placeholder="Card number" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.CreditCard" />
                        </InputGroupAddon>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Icon Name="LucideIcon.Check" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_cardAlt" Placeholder="Card number" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Icon Name="LucideIcon.CreditCard" />
                        </InputGroupAddon>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupButton ButtonSize="ButtonSize.IconXs" aria-label="Favorite">
                                <Icon Name="LucideIcon.Star" />
                            </InputGroupButton>
                            <InputGroupButton ButtonSize="ButtonSize.IconXs" aria-label="Info">
                                <Icon Name="LucideIcon.Info" />
                            </InputGroupButton>
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Text"
                Code="@TextCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupStackPreviewClass">
                <Div Display="Display.Grid" Width="Width.IsFull" MaxWidth="MaxWidth.IsSm" Gap="Gap.Is2">
                    <InputGroup>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <InputGroupText>$</InputGroupText>
                        </InputGroupAddon>
                        <InputGroupInput @bind-Value="_price" Placeholder="0.00" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>USD</InputGroupText>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <InputGroupText>https://</InputGroupText>
                        </InputGroupAddon>
                        <InputGroupInput @bind-Value="_domain" Placeholder="example.com" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>.com</InputGroupText>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_username" Placeholder="Enter your username" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>@("@company.com")</InputGroupText>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupTextarea @bind-Value="_message" Placeholder="Enter your message" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                            <InputGroupText>120 characters left</InputGroupText>
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Button"
                Code="@ButtonCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupButtonPreviewClass">
                <Div Display="Display.Grid" Width="Width.IsFull" MaxWidth="MaxWidth.IsSm" Gap="Gap.Is2">
                    <InputGroup>
                        <InputGroupInput @bind-Value="_url" Placeholder="https://x.com/shadcn" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupButton ButtonSize="ButtonSize.IconXs" aria-label="Copy">
                                <Icon Name="LucideIcon.Copy" />
                            </InputGroupButton>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <InputGroupText>https://</InputGroupText>
                        </InputGroupAddon>
                        <InputGroupInput @bind-Value="_shortUrl" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupButton ButtonSize="ButtonSize.IconXs" aria-label="Copy">
                                <Icon Name="LucideIcon.Copy" />
                            </InputGroupButton>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_query" Placeholder="Type to search..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupButton>Search</InputGroupButton>
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Kbd"
                Code="@KbdCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupKbdPreviewClass">
                <InputGroup MaxWidth="MaxWidth.IsSm">
                    <InputGroupInput @bind-Value="_command" Placeholder="Search..." />
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                        <Icon Name="LucideIcon.Search" />
                    </InputGroupAddon>
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                        <KbdGroup>
                            <Kbd>⌘</Kbd>
                            <Kbd>K</Kbd>
                        </KbdGroup>
                    </InputGroupAddon>
                </InputGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Dropdown"
                Code="@DropdownCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupDropdownPreviewClass">
                <Div Display="Display.Grid" Width="Width.IsFull" MaxWidth="MaxWidth.IsSm" Gap="Gap.Is2">
                    <InputGroup>
                        <InputGroupInput @bind-Value="_fileName" Placeholder="Enter file name" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Dropdown>
                                <DropdownToggle AsChild="true">
                                    <InputGroupButton ButtonSize="ButtonSize.IconXs" aria-label="More">
                                        <Icon Name="LucideIcon.Ellipsis" />
                                    </InputGroupButton>
                                </DropdownToggle>
                                <DropdownMenu>
                                    <DropdownItem>Settings</DropdownItem>
                                    <DropdownItem>Copy path</DropdownItem>
                                    <DropdownItem>Open location</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_searchQuery" Placeholder="Enter search query" />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Dropdown>
                                <DropdownToggle AsChild="true">
                                    <InputGroupButton ButtonSize="ButtonSize.Xs" Style="height: 1.5rem; padding-inline: 0; gap: 0.125rem;">
                                        Search In...
                                        <Icon Name="LucideIcon.ChevronDown" />
                                    </InputGroupButton>
                                </DropdownToggle>
                                <DropdownMenu>
                                    <DropdownItem>Documentation</DropdownItem>
                                    <DropdownItem>Blog Posts</DropdownItem>
                                    <DropdownItem>Changelog</DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Spinner"
                Code="@SpinnerCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupStackPreviewClass">
                <Div Display="Display.Grid" Width="Width.IsFull" MaxWidth="MaxWidth.IsSm" Gap="Gap.Is2">
                    <InputGroup>
                        <InputGroupInput @bind-Value="_spinnerSearch" Placeholder="Searching..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <Spinner Size="Quark.Size.Is3" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_processing" Placeholder="Processing..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                            <Spinner Size="Quark.Size.Is3" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_saving" Placeholder="Saving changes..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>Saving...</InputGroupText>
                            <Spinner Size="Quark.Size.Is3" />
                        </InputGroupAddon>
                    </InputGroup>

                    <InputGroup>
                        <InputGroupInput @bind-Value="_refreshing" Placeholder="Refreshing data..." />
                        <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                            <InputGroupText>Please wait...</InputGroupText>
                            <Spinner Size="Quark.Size.Is3" />
                        </InputGroupAddon>
                    </InputGroup>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Textarea"
                Code="@TextareaCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupTextareaPreviewClass">
                <InputGroup MaxWidth="MaxWidth.IsMd">
                    <InputGroupTextarea @bind-Value="_script" Rows="6" Placeholder="console.log('Hello, world!');" MinHeight='Height.Token("[200px]")' FontFamily="FontFamily.Mono" TextSize="TextSize.Sm" />
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd" MinHeight='Height.Token("[92px]")'>
                        <InputGroupText>Line 1, Column 1</InputGroupText>
                        <InputGroupButton Margin="Margin.FromLeft.Auto">Run</InputGroupButton>
                        <InputGroupText>script.js</InputGroupText>
                        <InputGroupButton ButtonSize="ButtonSize.IconXs" aria-label="Copy">
                            <Icon Name="LucideIcon.Copy" />
                        </InputGroupButton>
                        <InputGroupButton ButtonSize="ButtonSize.IconXs" aria-label="More">
                            <Icon Name="LucideIcon.Ellipsis" />
                        </InputGroupButton>
                    </InputGroupAddon>
                </InputGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Custom Input"
                Description="Add the data-slot=&quot;input-group-control&quot; attribute to your custom input for automatic focus state handling."
                Code="@CustomCode"
                CodeLanguage="razor"
                PreviewClass="@InputGroupCustomPreviewClass">
                <InputGroup MaxWidth="MaxWidth.IsSm">
                    <TextArea data-slot="input-group-control"
                              Placeholder="Autoresize textarea..."
                              Rows="4"
                              Width="Width.IsFull"
                              Border="Border.Is0"
                              BackgroundColor="BackgroundColor.Transparent"
                              Padding='Padding.Token("2.5").OnX.Is2.OnY'
                              TextSize="TextSize.Sm"
                              Class="resize-y min-h-16 flex-1 rounded-none shadow-none ring-0 focus-visible:ring-0 dark:bg-transparent" />
                    <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                        <InputGroupButton Margin="Margin.FromLeft.Auto">Submit</InputGroupButton>
                    </InputGroupAddon>
                </InputGroup>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="RTL"
                Description="To enable RTL support in shadcn/ui, see the RTL configuration guide."
                Code="@RtlCode"
                ShowPreviewToolbar="true"
                PreviewLang="ar"
                PreviewDir="rtl"
                CodeLanguage="razor"
                PreviewClass="@InputGroupRtlPreviewClass">
                <DirectionProvider Dir="rtl">
                    <Div Display="Display.Grid" Width="Width.IsFull" MaxWidth="MaxWidth.IsSm" Gap="Gap.Is2" TextAlign="TextAlign.End">
                        <InputGroup MaxWidth="MaxWidth.IsXs">
                            <InputGroupInput @bind-Value="_rtlValue" Placeholder="بحث..." />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                                <Icon Name="LucideIcon.Search" />
                            </InputGroupAddon>
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">١٢ نتيجة</InputGroupAddon>
                        </InputGroup>

                        <InputGroup>
                            <InputGroupInput @bind-Value="_rtlSearch" Placeholder="جاري البحث..." />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineStart">
                                <Spinner Size="Quark.Size.Is3" />
                            </InputGroupAddon>
                        </InputGroup>

                        <InputGroup>
                            <InputGroupInput @bind-Value="_rtlSaving" Placeholder="جاري حفظ التغييرات..." />
                            <InputGroupAddon AddonAlign="InputGroupAddonAlign.InlineEnd">
                                <InputGroupText>جاري الحفظ...</InputGroupText>
                                <Spinner Size="Quark.Size.Is3" />
                            </InputGroupAddon>
                        </InputGroup>

                        <Field>
                            <FieldLabel For="rtl-textarea">منطقة النص</FieldLabel>
                            <InputGroup>
                                <InputGroupTextarea Id="rtl-textarea" @bind-Value="_rtlTextarea" Rows="4" Placeholder="اكتب تعليقًا..." />
                                <InputGroupAddon AddonAlign="InputGroupAddonAlign.BlockEnd">
                                    <InputGroupText>٠/٢٨٠</InputGroupText>
                                    <InputGroupButton Margin="Margin.FromRight.Auto">نشر</InputGroupButton>
                                </InputGroupAddon>
                            </InputGroup>
                            <FieldDescription>تذييل موضع أسفل منطقة النص.</FieldDescription>
                        </Field>
                    </Div>
                </DirectionProvider>
            </DemoSection>
        </Section>
    </Div>
</Div>

@code {
    private const string InputGroupPreviewBase = "preview relative flex w-full justify-center p-10 data-[align=center]:items-center data-[align=end]:items-end data-[align=start]:items-start data-[chromeless=true]:min-h-0 data-[chromeless=true]:p-0";
    private const string InputGroupOverviewPreviewClass = InputGroupPreviewBase + " min-h-[416px]";
    private const string InputGroupInlinePreviewClass = InputGroupPreviewBase + " min-h-48";
    private const string InputGroupBlockStartPreviewClass = InputGroupPreviewBase + " min-h-96";
    private const string InputGroupBlockEndPreviewClass = InputGroupPreviewBase + " min-h-[416px]";
    private const string InputGroupStackPreviewClass = InputGroupPreviewBase + " min-h-80";
    private const string InputGroupButtonPreviewClass = InputGroupPreviewBase + " min-h-72";
    private const string InputGroupKbdPreviewClass = InputGroupPreviewBase + " min-h-40";
    private const string InputGroupDropdownPreviewClass = InputGroupPreviewBase + " min-h-56";
    private const string InputGroupTextareaPreviewClass = InputGroupPreviewBase + " min-h-96";
    private const string InputGroupCustomPreviewClass = InputGroupPreviewBase + " min-h-56";
    private const string InputGroupRtlPreviewClass = InputGroupPreviewBase + " min-h-[480px]";

    private const string BasicCode =
@"<InputGroup MaxWidth=""MaxWidth.IsXs"">
    <InputGroupInput @bind-Value=""_search"" Placeholder=""Search..."" />
    <InputGroupAddon>
        <Icon Name=""LucideIcon.Search"" />
    </InputGroupAddon>
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">12 results</InputGroupAddon>
</InputGroup>";

    private const string BasicDocsCode =
@"<FieldGroup>
    <Field>
        <FieldLabel For=""input-default-01"">Default (No Input Group)</FieldLabel>
        <Input Id=""input-default-01"" Placeholder=""Placeholder"" />
    </Field>
    <Field>
        <FieldLabel For=""input-group-02"">Input Group</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""input-group-02"" Placeholder=""Placeholder"" />
        </InputGroup>
    </Field>
    <Field Disabled=""true"">
        <FieldLabel For=""input-disabled-03"">Disabled</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""input-disabled-03"" Placeholder=""This field is disabled"" Disabled=""true"" />
        </InputGroup>
    </Field>
    <Field IsInvalid=""true"">
        <FieldLabel For=""input-invalid-04"">Invalid</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""input-invalid-04"" Placeholder=""This field is invalid"" aria-invalid=""true"" />
        </InputGroup>
    </Field>
</FieldGroup>";

    private const string AddonsDocsCode =
@"<InputGroup>
    <InputGroupInput Id=""input-icon-both-09"" />
    <InputGroupAddon><Icon Name=""LucideIcon.Mic"" /></InputGroupAddon>
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <Icon Name=""LucideIcon.Radio"" Animation=""Animation.Pulse"" TextColor='TextColor.Token(""red-500"")' />
    </InputGroupAddon>
</InputGroup>";

    private const string ButtonsDocsCode =
@"<InputGroup>
    <InputGroupInput Id=""input-button-13"" />
    <InputGroupAddon>
        <InputGroupButton>Default</InputGroupButton>
    </InputGroupAddon>
</InputGroup>";

    private const string InlineStartCode =
@"<Field MaxWidth=""MaxWidth.IsSm"">
    <FieldLabel For=""inline-start-input"">Input</FieldLabel>
    <InputGroup>
        <InputGroupInput Id=""inline-start-input"" @bind-Value=""_search"" Placeholder=""Search..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <Icon Name=""LucideIcon.Search"" />
        </InputGroupAddon>
    </InputGroup>
    <FieldDescription>Icon positioned at the start.</FieldDescription>
</Field>";

    private const string InlineEndCode =
@"<Field MaxWidth=""MaxWidth.IsSm"">
    <FieldLabel For=""inline-end-input"">Input</FieldLabel>
    <InputGroup>
        <InputGroupInput Id=""inline-end-input"" @bind-Value=""_password"" Placeholder=""Enter password"" Type=""password"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <Icon Name=""LucideIcon.EyeOff"" />
        </InputGroupAddon>
    </InputGroup>
    <FieldDescription>Icon positioned at the end.</FieldDescription>
</Field>";

    private const string BlockStartCode =
@"<FieldGroup Width=""Width.IsFull"">
    <Field>
        <FieldLabel For=""block-start-input"">Input</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""block-start-input"" @bind-Value=""_fullName"" Placeholder=""Enter your name"" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockStart"">
                <InputGroupText>Full Name</InputGroupText>
            </InputGroupAddon>
        </InputGroup>
        <FieldDescription>Header positioned above the input.</FieldDescription>
    </Field>

    <Field>
        <FieldLabel For=""block-start-textarea"">Textarea</FieldLabel>
        <InputGroup>
            <InputGroupTextarea Id=""block-start-textarea"" @bind-Value=""_script"" Rows=""5"" Placeholder=""console.log('Hello, world!');"" FontFamily=""FontFamily.Mono"" TextSize=""TextSize.Sm"" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockStart"">
                <Icon Name=""LucideIcon.FileCode"" />
                <InputGroupText>script.js</InputGroupText>
                <InputGroupButton ButtonSize=""ButtonSize.IconXs"" Variant=""ButtonVariant.Ghost"" Margin=""Margin.FromLeft.Auto"" AriaLabel=""Copy"">
                    <Icon Name=""LucideIcon.Copy"" />
                </InputGroupButton>
            </InputGroupAddon>
        </InputGroup>
        <FieldDescription>Header positioned above the textarea.</FieldDescription>
    </Field>
</FieldGroup>";

    private const string BlockEndCode =
@"<FieldGroup Width=""Width.IsFull"">
    <Field>
        <FieldLabel For=""block-end-input"">Input</FieldLabel>
        <InputGroup>
            <InputGroupInput Id=""block-end-input"" @bind-Value=""_amount"" Placeholder=""Enter amount"" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
                <InputGroupText>USD</InputGroupText>
            </InputGroupAddon>
        </InputGroup>
        <FieldDescription>Footer positioned below the input.</FieldDescription>
    </Field>

    <Field>
        <FieldLabel For=""block-end-textarea"">Textarea</FieldLabel>
        <InputGroup>
            <InputGroupTextarea Id=""block-end-textarea"" @bind-Value=""_feedback"" Rows=""4"" Placeholder=""Write a comment..."" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
                <InputGroupText>0/280</InputGroupText>
                <InputGroupButton Margin=""Margin.FromLeft.Auto"">Post</InputGroupButton>
            </InputGroupAddon>
        </InputGroup>
        <FieldDescription>Footer positioned below the textarea.</FieldDescription>
    </Field>
</FieldGroup>";

    private const string IconCode =
@"<Div Display=""Display.Grid"" Width=""Width.IsFull"" MaxWidth=""MaxWidth.IsSm"" Gap=""Gap.Is2"">
    <InputGroup>
        <InputGroupInput @bind-Value=""_iconSearch"" Placeholder=""Search..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <Icon Name=""LucideIcon.Search"" />
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_email"" Placeholder=""Enter your email"" Type=""email"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <Icon Name=""LucideIcon.Mail"" />
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_card"" Placeholder=""Card number"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <Icon Name=""LucideIcon.CreditCard"" />
        </InputGroupAddon>
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <Icon Name=""LucideIcon.Check"" />
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_cardAlt"" Placeholder=""Card number"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <Icon Name=""LucideIcon.CreditCard"" />
        </InputGroupAddon>
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupButton ButtonSize=""ButtonSize.IconXs"" aria-label=""Favorite"">
                <Icon Name=""LucideIcon.Star"" />
            </InputGroupButton>
            <InputGroupButton ButtonSize=""ButtonSize.IconXs"" aria-label=""Info"">
                <Icon Name=""LucideIcon.Info"" />
            </InputGroupButton>
        </InputGroupAddon>
    </InputGroup>
</Div>";

    private const string TextCode =
@"<Div Display=""Display.Grid"" Width=""Width.IsFull"" MaxWidth=""MaxWidth.IsSm"" Gap=""Gap.Is2"">
    <InputGroup>
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <InputGroupText>$</InputGroupText>
        </InputGroupAddon>
        <InputGroupInput @bind-Value=""_price"" Placeholder=""0.00"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupText>USD</InputGroupText>
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <InputGroupText>https://</InputGroupText>
        </InputGroupAddon>
        <InputGroupInput @bind-Value=""_domain"" Placeholder=""example.com"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupText>.com</InputGroupText>
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_username"" Placeholder=""Enter your username"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupText>@(""@company.com"")</InputGroupText>
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupTextarea @bind-Value=""_message"" Placeholder=""Enter your message"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
            <InputGroupText>120 characters left</InputGroupText>
        </InputGroupAddon>
    </InputGroup>
</Div>";

    private const string ButtonCode =
@"<Div Display=""Display.Grid"" Width=""Width.IsFull"" MaxWidth=""MaxWidth.IsSm"" Gap=""Gap.Is2"">
    <InputGroup>
        <InputGroupInput @bind-Value=""_url"" Placeholder=""https://x.com/shadcn"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupButton ButtonSize=""ButtonSize.IconXs"" aria-label=""Copy"">
                <Icon Name=""LucideIcon.Copy"" />
            </InputGroupButton>
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <InputGroupText>https://</InputGroupText>
        </InputGroupAddon>
        <InputGroupInput @bind-Value=""_shortUrl"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupButton ButtonSize=""ButtonSize.IconXs"" aria-label=""Copy"">
                <Icon Name=""LucideIcon.Copy"" />
            </InputGroupButton>
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_query"" Placeholder=""Type to search..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupButton>Search</InputGroupButton>
        </InputGroupAddon>
    </InputGroup>
</Div>";

    private const string KbdCode =
@"<InputGroup MaxWidth=""MaxWidth.IsSm"">
    <InputGroupInput @bind-Value=""_command"" Placeholder=""Search..."" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
        <Icon Name=""LucideIcon.Search"" />
    </InputGroupAddon>
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
        <KbdGroup>
            <Kbd>⌘</Kbd>
            <Kbd>K</Kbd>
        </KbdGroup>
    </InputGroupAddon>
</InputGroup>";

    private const string DropdownCode =
@"<Div Display=""Display.Grid"" Width=""Width.IsFull"" MaxWidth=""MaxWidth.IsSm"" Gap=""Gap.Is2"">
    <InputGroup>
        <InputGroupInput @bind-Value=""_fileName"" Placeholder=""Enter file name"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <Dropdown>
                <DropdownToggle AsChild=""true"">
                    <InputGroupButton ButtonSize=""ButtonSize.IconXs"" aria-label=""More"">
                        <Icon Name=""LucideIcon.Ellipsis"" />
                    </InputGroupButton>
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem>Settings</DropdownItem>
                    <DropdownItem>Copy path</DropdownItem>
                    <DropdownItem>Open location</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_searchQuery"" Placeholder=""Enter search query"" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <Dropdown>
                <DropdownToggle AsChild=""true"">
                    <InputGroupButton ButtonSize=""ButtonSize.Xs"" Style=""height: 1.5rem; padding-inline: 0; gap: 0.125rem;"">
                        Search In...
                        <Icon Name=""LucideIcon.ChevronDown"" />
                    </InputGroupButton>
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem>Documentation</DropdownItem>
                    <DropdownItem>Blog Posts</DropdownItem>
                    <DropdownItem>Changelog</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        </InputGroupAddon>
    </InputGroup>
</Div>";

    private const string SpinnerCode =
@"<Div Display=""Display.Grid"" Width=""Width.IsFull"" MaxWidth=""MaxWidth.IsSm"" Gap=""Gap.Is2"">
    <InputGroup>
        <InputGroupInput @bind-Value=""_spinnerSearch"" Placeholder=""Searching..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <Spinner Size=""Quark.Size.Is3"" />
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_processing"" Placeholder=""Processing..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
            <Spinner Size=""Quark.Size.Is3"" />
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_saving"" Placeholder=""Saving changes..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupText>Saving...</InputGroupText>
            <Spinner Size=""Quark.Size.Is3"" />
        </InputGroupAddon>
    </InputGroup>

    <InputGroup>
        <InputGroupInput @bind-Value=""_refreshing"" Placeholder=""Refreshing data..."" />
        <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
            <InputGroupText>Please wait...</InputGroupText>
            <Spinner Size=""Quark.Size.Is3"" />
        </InputGroupAddon>
    </InputGroup>
</Div>";

    private const string TextareaCode =
@"<InputGroup MaxWidth=""MaxWidth.IsMd"">
    <InputGroupTextarea @bind-Value=""_script"" Rows=""6"" Placeholder=""console.log('Hello, world!');"" MinHeight='Height.Token(""[200px]"")' FontFamily=""FontFamily.Mono"" TextSize=""TextSize.Sm"" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"" MinHeight='Height.Token(""[92px]"")'>
        <InputGroupText>Line 1, Column 1</InputGroupText>
        <InputGroupButton Margin=""Margin.FromLeft.Auto"">Run</InputGroupButton>
        <InputGroupText>script.js</InputGroupText>
        <InputGroupButton ButtonSize=""ButtonSize.IconXs"" aria-label=""Copy"">
            <Icon Name=""LucideIcon.Copy"" />
        </InputGroupButton>
        <InputGroupButton ButtonSize=""ButtonSize.IconXs"" aria-label=""More"">
            <Icon Name=""LucideIcon.Ellipsis"" />
        </InputGroupButton>
    </InputGroupAddon>
</InputGroup>";

    private const string CustomCode =
@"<InputGroup MaxWidth=""MaxWidth.IsSm"">
    <TextArea data-slot=""input-group-control""
              Placeholder=""Autoresize textarea...""
              Rows=""4""
              Width=""Width.IsFull""
              Border=""Border.Is0""
              BackgroundColor=""BackgroundColor.Transparent""
              Padding='Padding.Token(""2.5"").OnX.Is2.OnY'
              TextSize=""TextSize.Sm""
              Class=""resize-y min-h-16 flex-1 rounded-none shadow-none ring-0 focus-visible:ring-0 dark:bg-transparent"" />
    <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
        <InputGroupButton Margin=""Margin.FromLeft.Auto"">Submit</InputGroupButton>
    </InputGroupAddon>
</InputGroup>";

    private const string RtlCode =
@"<DirectionProvider Dir=""rtl"">
    <Div Display=""Display.Grid"" Width=""Width.IsFull"" MaxWidth=""MaxWidth.IsSm"" Gap=""Gap.Is2"" TextAlign=""TextAlign.End"">
        <InputGroup MaxWidth=""MaxWidth.IsXs"">
            <InputGroupInput @bind-Value=""_rtlValue"" Placeholder=""بحث..."" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
                <Icon Name=""LucideIcon.Search"" />
            </InputGroupAddon>
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">١٢ نتيجة</InputGroupAddon>
        </InputGroup>

        <InputGroup>
            <InputGroupInput @bind-Value=""_rtlSearch"" Placeholder=""جاري البحث..."" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineStart"">
                <Spinner Size=""Quark.Size.Is3"" />
            </InputGroupAddon>
        </InputGroup>

        <InputGroup>
            <InputGroupInput @bind-Value=""_rtlSaving"" Placeholder=""جاري حفظ التغييرات..."" />
            <InputGroupAddon AddonAlign=""InputGroupAddonAlign.InlineEnd"">
                <InputGroupText>جاري الحفظ...</InputGroupText>
                <Spinner Size=""Quark.Size.Is3"" />
            </InputGroupAddon>
        </InputGroup>

        <Field>
            <FieldLabel For=""rtl-textarea"">منطقة النص</FieldLabel>
            <InputGroup>
                <InputGroupTextarea Id=""rtl-textarea"" @bind-Value=""_rtlTextarea"" Rows=""4"" Placeholder=""اكتب تعليقًا..."" />
                <InputGroupAddon AddonAlign=""InputGroupAddonAlign.BlockEnd"">
                    <InputGroupText>٠/٢٨٠</InputGroupText>
                    <InputGroupButton Margin=""Margin.FromRight.Auto"">نشر</InputGroupButton>
                </InputGroupAddon>
            </InputGroup>
            <FieldDescription>تذييل موضع أسفل منطقة النص.</FieldDescription>
        </Field>
    </Div>
</DirectionProvider>";

    private string? _search;
    private string? _password;
    private string? _fullName;
    private string? _script;
    private string? _amount;
    private string? _feedback;
    private string? _iconSearch;
    private string? _email;
    private string? _card;
    private string? _cardAlt;
    private string? _price;
    private string? _domain;
    private string? _username;
    private string? _message;
    private string? _url;
    private string? _shortUrl;
    private string? _query;
    private string? _command;
    private string? _fileName;
    private string? _searchQuery;
    private string? _spinnerSearch;
    private string? _processing;
    private string? _saving;
    private string? _refreshing;
    private string? _rtlValue;
    private string? _rtlSearch;
    private string? _rtlSaving;
    private string? _rtlTextarea;
}
