@page "/surfaces/skeletons"

<PageTitle>Skeleton - Quark Suite</PageTitle>

<Div Space="Space.Y.Is8" MaxWidth="MaxWidth.Is4xl">
    <Div Space="Space.Y.Is6">
        <Section Space="Space.Y.Is4">
            <DemoSection Title="Basic Skeletons" Description="Simple loading placeholders using shadcn skeleton styles."
                        Code="@(@"<Skeleton Height=""Height.Token(""4"")"" Width=""Width.Token(""[250px]"")"" />
<Skeleton Height=""Height.Token(""4"")"" Width=""Width.Token(""[200px]"")"" />
<Skeleton Height=""Height.Token(""4"")"" Width=""Width.Token(""[300px]"")"" />")">
                <Div BorderRadius="BorderRadius.Is4" Border="Border.Is1" BackgroundColor="BackgroundColor.Card" Padding="Padding.Is4">
                    <Div Space="Space.Y.Is3">
                        <Skeleton Height="@(Height.Token("4"))" Width="@(Width.Token("[250px]"))" />
                        <Skeleton Height="@(Height.Token("4"))" Width="@(Width.Token("[200px]"))" />
                        <Skeleton Height="@(Height.Token("4"))" Width="@(Width.Token("[300px]"))" />
                    </Div>
                </Div>
            </DemoSection>
        </Section>

        <Section Space="Space.Y.Is4">
            <DemoSection Title="Card Loading Placeholder" Description="Compose multiple skeletons to mirror a card layout."
                        Code="@(@"<Div Display=""Display.Flex"" AlignUtility=""Align.ItemsCenter"" Space=""Space.X.Is4"">
    <Skeleton Height=""Height.Token(""12"")"" Width=""Width.Token(""12"")"" BorderRadius=""BorderRadius.Circle"" />
    <Div Space=""Space.Y.Is2"">
        <Skeleton Height=""Height.Token(""4"")"" Width=""Width.Token(""[250px]"")"" />
        <Skeleton Height=""Height.Token(""4"")"" Width=""Width.Token(""[200px]"")"" />
    </Div>
</Div>")">
                <Div MaxWidth="MaxWidth.IsSm" BorderRadius="BorderRadius.Is4" Border="Border.Is1" BackgroundColor="BackgroundColor.Card" Padding="Padding.Is4">
                    <Div Display="Display.Flex" AlignUtility="Align.ItemsCenter" Space="Space.X.Is4">
                        <Skeleton Height="@(Height.Token("12"))" Width="@(Width.Token("12"))" BorderRadius="BorderRadius.Circle" />
                        <Div Space="Space.Y.Is2">
                            <Skeleton Height="@(Height.Token("4"))" Width="@(Width.Token("[250px]"))" />
                            <Skeleton Height="@(Height.Token("4"))" Width="@(Width.Token("[200px]"))" />
                        </Div>
                    </Div>
                </Div>
            </DemoSection>
        </Section>
    </Div>
</Div>
